[2018-10-16 12:39] safchain commented on #1384
Yes you need to specify a backend to store flow and metrics. Etcd is used for configuration Elasticsearch for everything about history.

You set it here:
https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L69
https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L76
https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L

[2018-10-16 12:43] safchain commented on #1384
Sorry I didn't see that you were using kubernetes deployment. We need to update the yaml file. We are going to work on a fix.

[2018-10-16 21:35] safchain commented on #1384
We just merged related fixes #1387, could try them, thanks

[2018-10-17 09:03] SchSeba opened #1391 "Support for Cri-o"
Hello @safchain,

I will like to know if the project intend to add support for cri-o engine and not only docker.

[2018-10-17 14:11] hunchback opened #1394 "compilation broken due to proteus and specific GOROOT, GOPATH setup"
@safchain  I am getting the following since adding flow layers, this appears to be only on my host (based on fc28) please assist:

[code]

This is the offending commit: https://github.com/skydive-project/skydive/commit/e8cf79963e5d85b203becdc290df2cd2c6f38195

The error message is:

[code]

but when attempting to build under go build all is ok:

[code]

Thus indicating that the issue is due to pro

[2018-10-17 14:46] safchain commented on #1394
did you try to remove $GOPATH/.cache $GOPATH/pkg ?

[2018-10-17 14:49] lebauce commented on #1394
[code]

[2018-10-17 14:56] xhottam commented on #1384
Thanks for fixing it so fast.

[2018-10-17 14:56] #1384 closed

[2018-10-18 07:36] hunchback commented on #1394
@safchain / @lebauce - tried all what was recommended - but I still get the reported issue

[2018-10-18 07:42] safchain commented on #1394
@hunchback can you try to delete  /home/vagrant/.skydive-build-tool

[2018-10-18 09:09] lebauce commented on #1394
@hunchback Did you try to remove the `vendor` directory and do `git checkout vendor` ?

[2018-10-18 10:33] hunchback commented on #1394
i did a fresh git clone skydive.git which did not resolve issue

On Thu, Oct 18, 2018, 12:09 Sylvain Baubeau <notifications@github.com>
wrote:

[2018-10-18 11:01] safchain commented on #1372
Hi, in order to have everything working properly (capture, network namespace inspection) yes privileged is required.

To get the flow once the capture is stopped you can use either the CLI on the UI to do a `gremlin` request

It would be something like:
[code]
This has to be read as "select all the flows active between -1s and -600s. The first parameter is a time selector (ex: -5/s, 10/m) the seco

[2018-10-18 12:12] nplanel commented on #1394
did you try to use a new GOPATH
are you sure that you didn't break/alter your GOROOT ?  (reinstall golang package)

[2018-10-18 14:44] SpeedBlack commented on #1372
Great, thanks for the information! Interesting! Interesting!

I would like to ask another question:
What is the difference between a TOR external resource and a Edge Rules (topology rules) ?

For CSV export, I will look at [Skydive flow matrix](http://skydive.network/blog/flow-matrix.html)

Thanks !

[2018-10-18 18:20] hunchback commented on #1394
when i revert to an older commit on master (prior to the 15th of October
all workas fine)

On Thu, Oct 18, 2018, 15:12 Nicolas PLANEL <notifications@github.com> wrote:

[2018-10-18 20:04] safchain commented on #1394
can you confirm that you tried with

- reinstalling the protoc tooling ? binary + include
- a fresh or new golang install using another GOROOT ?
- a new empty GOPATH ?

I did install twice fresh environment this afternoon without any issue. I guess for you the best is to reboostrap a golang environment.

[2018-10-18 20:29] hunchback commented on #1394
i will check and get back on this ...

On Thu, Oct 18, 2018, 23:09 Sylvain Afchain <notifications@github.com>
wrote:

[2018-10-19 13:54] kbaegis commented on #1359
There appears to be a defect somewhere in the skydive renderer or the rule implementation.
Here are my cli notes:
[code]
This stops working somewhere around the 50th rule or so at which point it just stops rendering.

[2018-10-19 13:58] lebauce commented on #1359
@kbaegis My remark may be revelant to your use case but we recently merged an LLDP probe that would automatically create node and edges for the switch and the ports

[2018-10-19 14:11] kbaegis commented on #1359
That's awesome! I'm trying to figure out what specifically LLDP will expose. Will it:
1) create the interface that each node is directly plugged into
2) create the node with the interface attached
3) fully populate the switch interfaces

I'm also curious why creating the rules above seem to work so long as I don't have more some specific number of edges/nodes, or alternatively what I'm doing wrong

[2018-10-19 15:09] kbaegis commented on #1359
@lebauce Many thanks. What's the appropriate way to enable this for a kubernetes container?
[code]
I'm not seeing how to enable the lldp probe inside the container. This is traditionally done with a ConfigMap directory and a symlink to the above contents which actually allows admins to alter the contents.

[2018-10-19 16:06] kbaegis commented on #1359
So even though the docker images appear to lack a way to do this conveniently, I altered the contents of /etc/skydive.yml manually, committed, tagged and pushed the image to my repo and changed the k8s deployment spec to match my local copy. That should probably be addressed elsewhere.

Below are the logs with the lldp probe failing. Evidently type is missing from the requests?
[code]

[2018-10-19 16:28] lebauce opened #1402 "Document configuration environment variables"
SKYDIVE_AGENT_TOPOLOGY_PROBES, ....

[2018-10-19 16:31] lebauce commented on #1359
@kbaegis I suggest you specify the interfaces you want to use for LLDP : https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L220-L221

The LLDP errors don't seem to be critical. The one that is critical is
`2018-10-19T15:57:03.893Z	ERROR	websocket/client.go:448 (*Client).connect	crucible: Unable to create a WebSocket connection ws://172.23.128.18:8082/ws/agent : dial tc

[2018-10-19 17:05] kbaegis commented on #1359
I would, however each node has a different group of interfaces. This comes down to the flexibility of the skydive docker image which provides no interface or mechanism to customize these values at runtime. Now I'll have to create per-node config files and map their path on top of the existing skydive.yml.

I'm also not understanding the relationship. How will specifying the interfaces fix the Type

[2018-10-19 18:35] kbaegis commented on #1359
I customized it all. Still getting `No Type for node` errors from the agents in the daemonset. I don't think it's working.

[2018-10-19 18:50] kbaegis commented on #1359
LLDP functional!  Looks awesome. tyvm @lebauce

[2018-10-19 18:50] #1359 closed

[2018-10-22 09:01] lebauce opened #1406 "Functional tests for workflows"

[2018-10-22 09:28] hunchback commented on #1394
I have managed to minimally reproduce the issue:

On the following file `$GOPATH/src/check.go`:

[code]

When running `go build` all is ok but when running:

[code]

[2018-10-22 11:59] lebauce opened #1408 "Functional tests for workflows"

[2018-10-22 12:24] nplanel commented on #1394
[code]

[2018-10-22 12:36] hunchback commented on #1394
[code]

[2018-10-22 13:31] nplanel commented on #1394
[code]

[2018-10-22 14:06] #1408 closed

[2018-10-22 16:11] lebauce commented on #1402
https://github.com/skydive-project/skydive.network/pull/31

[2018-10-23 09:08] pierrecregut opened #1410 "Support libvirt"
When we have agents on a host and a guest (eg. some deployments of control nodes with director, or on an agent in a VNF), we would like to see the links between the host and guest interfaces. Here is an example with two levels of nesting (an host hosting a VM deployed manually with devstack hosting a VM). The interfaces added are circled in red.
![skydive-stack](https://user-images.githubuserconte

[2018-10-23 09:15] safchain commented on #1410
This should be already supported but it seems to be broken, I'll have a look to see what is not working

[2018-10-23 09:17] pierrecregut commented on #1410
How do you get what to link ? I have some python code that makes the glue but it uses the mac address extracted from libvirt on the host side: https://gist.github.com/pierrecregut/fceb65572c0a1d4b0b3982dc683b54c1

[2018-10-23 09:53] safchain commented on #1410
Ok got the issue :) so its uses this "probe" https://github.com/skydive-project/skydive/blob/master/topology/probes/peering/peering.go#L47

but this field is only filled by the neutron probe. I think we could fill it in ovsdb probe

[2018-10-23 13:45] pierrecregut commented on #1410
It seems that something is going wrong. It does not work and one of the cause is that retrieveAttributes fails in the neutron updater. When it is launched, the metadata of the port node is not extended with ExtID information. The mac used is then the wrong MAC and gophercloud finds no port matching the host mac. ExtID is filled later but there is no second chance. The root cause is why actions are

[2018-10-23 15:39] pierrecregut commented on #1410
The root cause is that the enhancement of the port is obsolete for versions of neutron ovs using connection tracking instead of the intermediate bridge with qvo qvb veths. The enhancement is only done on the qvo node propagating it to the tap node. Today there is only one tap node and PeerIntfMAC should be filled at that point.

There is still another minor bug: I do not see the point of adding MA

[2018-10-23 16:01] safchain commented on #1410
libvirt probe makes definitely sense. You're right this part of the code should be adapted. Do you plan to provide a fix or do you want us to fix it ?

[2018-10-23 19:55] reza-rahim opened #1413 "K8 deployment failed"
K8 env:

[vagrant@mgmt skydive]$ kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:53:20Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc59

[2018-10-24 07:40] pierrecregut commented on #1410
I will fix it. I will first do a quick fix to the neutron probe as it is. I will check that it works with or without the additional bridge for ML2/OVS but the chance that it works with linuxbridge or contrail is slim. Then I will add a libvirt probe that feeds the PeerIntfMAC. The idea would then be to disable this part of the job in the neutron probe if it is provided by libvirt in the same agent

[2018-10-24 14:52] duritong commented on #1413
I am seeing this as well on OpenShift, though after a few retries the pod usually comes up.

[2018-10-24 14:56] duritong opened #1418 "Limit of total fields [1000] in index [skydive_topology_live_v12] has been exceeded"
After deploying skydive with `SKYDIVE_ANALYZER_TOPOLOGY_PROBES=k8s` I get a continues stream of the following error on the analyzer pod:
[code]

This is 0.20.0-24db7fdc9570

[2018-10-24 15:01] safchain commented on #1418
being addressed by #1381

[2018-10-24 15:01] #1402 closed

[2018-10-25 13:58] safchain commented on #1331
fixed: http://skydive.network/documentation/deployment#configuration-environment-variables

[2018-10-25 13:58] #1331 closed

[2018-10-25 13:59] safchain commented on #835
fixed: #1398

[2018-10-25 13:59] #835 closed

[2018-10-26 09:03] lebauce commented on #1394
@hunchback We discussed with @tomerlange about this. This seem to be related to the use VirtualBox shared folders. If I remember correctly, these should not be used by default on Windows (https://github.com/skydive-project/skydive/blob/master/contrib/dev/Vagrantfile#L17). Any idea ? Thanks !

[2018-10-26 13:41] hunchback commented on #1394
did not help ...

[2018-10-26 13:42] hunchback commented on #1394
I am not using shared folders but still have the issue ..

[2018-10-26 14:11] lebauce commented on #1394
@hunchback Please check in the VirtualBox GUI (Settings / Shared folders) that there is no shared folder.

[2018-10-26 17:58] hunchback commented on #1394
@lebauce - I have no shared folders (I setup without the skydive shared folder due to performance issues and later I deleted the ansible shared folders)

[2018-10-30 12:48] hunchback commented on #1394
@lebauce - yesterday @eranra discovered that this issue is solved when installing Go directly (and not vie gimme) as follows:

[code]

do we want to change `scripts/ci/install-go.sh` (as for now devmode is broken)

[2018-10-30 12:57] lebauce commented on #1394
@hunchback The problem comes from the fact that GOROOT is inside GOPATH (check my last comment on the issue). There is a PR that tries to fix the devmode with modifying `scripts/ci/install-go.sh`

[2018-10-30 15:08] hunchback commented on #1394
ok, great, then this issue can be closed

On Tue, Oct 30, 2018, 15:05 Sylvain Baubeau <notifications@github.com>
wrote:

[2018-10-31 11:33] #1394 closed

[2018-10-31 15:52] ErwanAliasr1 opened #1430 "Inheriting the host when setting up ownership links"
I'm in a case where nodes are inherited from each other like
host -> OSD -> PG -> RBD
When I set the "host->OSD" ownership link, the representation is fine.

When I set the OSD->PG ownership link, the host isn't inherited meaning the PG is not tied to the host leading to flying PGs like in https://imgur.com/a/EQM8qnJ

So the other option, is to add an ownership link between host->PG + 1 extra link

[2018-10-31 15:54] ErwanAliasr1 opened #1431 "Avoid graphing breakage when node ID features a dot"
Calling p.graph.NewNode("plop.1"), metadata) is breaking the graphing because the node ID have a dot inside its name.
That was pretty long for me to consider that was the root cause of my visual issues.
Would be cool to warn that or even fix it on the fly ?

[2018-11-04 04:41] reza-rahim commented on #1413
It's working. Thx.

[2018-11-04 09:10] eranra opened #1436 "Expire TCP flows from flowTable based on FIN/RST indication"
Add support to flowTable that will allow quick expiration of flows based on recognition of finished TCP flows.

Note 1:  Main value is to reduce amount of flows in flowTable, save memory and allow quicker report of flow finish.
Note 1: This support will be enabled only if information exist in TCPMetric

[2018-11-04 09:18] eranra opened #1437 "Extend flowTable to include flow life cycle (new flow 'status')"
On entrance of new flow to table, set flow field (status) to indicate 'NEW'
On new updates to flow set status to indicate 'UPDATE' (and reuse current updateVersion to track progress)
On expiration set status to 'FINISH' and sub_status to indicate 'EXPIRED' ... can be one field "FINISH_EXPIRED "
On finish recognition (for example in TCP, later for more protocols) set status to 'FINISHED' and sub_st

[2018-11-04 09:22] eranra opened #1438 "add support for perApplication (protocol) flowTable expiration time out"
allow users to specific in configuration a list (dictionary) of application Types (protocols, e.g. DHCP,DNS) and time out expiration values for those protocols. Typically much lower than the general flowTable expiration value. This allows quicker removal of flows that are known to be short by nature from the flowTable and no need to wait for the long expiration for general flows.

[2018-11-04 09:27] eranra opened #1439 "persistent only subset of the flow fields in storeFlows"
Allow user configuration to persistent only sub-set of the fields that exist in a flow.

Note 1: This allows efficiency for back-ends.
Note 2: Need to discuss read-back of data with limited amount of fields, might create challenges
Note 3: Might be also relevant Topology persistence, need to discuss (e.g. in the context of k8s)

[2018-11-04 10:35] hunchback commented on #1438
I would recommend you merge:
- https://github.com/skydive-project/skydive/issues/1436
https://github.com/skydive-project/skydive/issues/1437
https://github.com/skydive-project/skydive/issues/1438

[2018-11-04 10:40] eranra commented on #1438
They are separate enhancements / PR's so we can discuss all but each PR will close an issue :-)

[2018-11-05 10:12] safchain commented on #1323
Closing it for now, feel free to re-open if needed

[2018-11-05 10:12] #1323 closed

[2018-11-05 10:12] #1181 closed

[2018-11-05 10:14] #997 closed

[2018-11-05 10:14] safchain commented on #907
Closing it as more details issue have been opened #1438

[2018-11-05 10:14] #907 closed

[2018-11-05 10:15] lebauce commented on #997
https://github.com/skydive-project/skydive/pull/1360

[2018-11-05 10:16] lebauce commented on #975
https://github.com/lebauce/skydive/tree/openflow-gopacket

[2018-11-06 10:32] hunchback opened #1444 "RBAC related DATA RACE"
When running analyzer locally I got:

[code]

[2018-11-06 10:43] safchain commented on #1444
Confirmed I saw that one time

[2018-11-06 11:38] hsluoyz commented on #1444
Hi. If you use Casbin in a multi-threading manner, you can use the synchronized wrapper of the Casbin enforcer: https://github.com/casbin/casbin/blob/master/enforcer_synced.go.

https://github.com/casbin/casbin#multi-threading

[2018-11-06 14:02] lebauce commented on #1444
Thanks a lot for the advice @hsluoyz !

[2018-11-06 14:22] lebauce commented on #1444
https://github.com/skydive-project/skydive/pull/1445

[2018-11-07 10:00] git001 opened #1446 "Add infra and master to daemonset"
I followed the commands on https://github.com/skydive-project/skydive/tree/master/contrib/openshift and was easily able to run the agent on compute nodes.

I have tried to add node labels to add infra nodes to the picture but the infra nodes doesn't shows in the graphical output.

Any hint how I can add the infra and the master nodes to skydive?

[code]

[2018-11-08 09:56] safchain commented on #1444
merged

[2018-11-08 09:56] #1444 closed

[2018-11-09 10:05] safchain commented on #1391
@SchSeba I currently investigating what is the effort to support cri-o engine. I'll make an update soon

[2018-11-09 14:28] #1410 closed

[2018-11-09 16:50] theonlydoo opened #1452 "zoom view readbility"
on a production host I encoutered this initial view on a staging cluster:
![o6tgia1vik8d0jv33frtrclrp](https://user-images.githubusercontent.com/1903124/48276196-bd078e00-e447-11e8-8fd0-6f22ed27cd1e.png)

which seems quite normal

but

the real fun begins when you unfold a single host:
![woaq8szkn2czdokmomubbyxcd](https://user-images.githubusercontent.com/1903124/48276190-b842da00-e447-11e8-9a8e-d

[2018-11-11 06:48] hunchback commented on #1418
Its' being addressed by two PRs:
- https://github.com/skydive-project/skydive/pull/1381
- https://github.com/skydive-project/skydive/pull/1432

[2018-11-11 06:50] hunchback commented on #1413
@safchain - please close

[2018-11-11 20:32] #1413 closed

[2018-11-12 10:15] lebauce opened #1453 "Import / Export topology"
`skydive topology export`
`skydive topology import`

[2018-11-12 10:40] safchain commented on #1452
@theonlydoo indeed funny :) can you please describe a bit your environment ? docker ? kubernetes ? number of container ? network virtualization solution ?

[2018-11-12 10:42] theonlydoo commented on #1452
environment:
- k8s
container count
- 15@20
network:
overlay network w/ bgp (quagga)

[2018-11-12 11:54] lebauce opened #1454 "Fix history for fabric nodes"
Right now, fabric nodes are never deleted.

Suggestion:
- elect one master analyzer
- remove all the fabric nodes
- recreate the fabric nodes

[2018-11-12 14:33] jtudelag opened #1456 "Regex filter not working when trying to filter OpenShift Pod per namespace"
Trying to flter some OpenShift Pods by its namespace name, I'm not able to use a regexp to filer them:

I have a bunch of namespaces called: "my-namespace-{1,5}"

If I try to filter all the Pods in that namespaces, with this expression, it does not work.
`G.V().Has('Docker.Labels.io.kubernetes.pod.namespace', Regex("*my-namespace-*")).Descendants()`

On the other hand, if I dont use a Regex, or if

[2018-11-12 14:48] jtudelag commented on #1456
You are absolutely right @lebauce , sorry for the confusion. Closing this.

[2018-11-12 14:48] #1456 closed

[2018-11-13 09:46] eranra opened #1458 "UI: Edged length not symmetrical in collapsed view"
e.g. When opening Skydive UI (default infrastructure view), showing only the hosts, collapsed. The length of edges between hosts is not symmetrical if there is different amount of objects under each host (very typical). Single edge can be totally out of range creating very strange visualization.

![image](https://user-images.githubusercontent.com/3080696/48404772-b45dd300-e739-11e8-8df3-f13271ccf5

[2018-11-15 14:46] eranra opened #1463 "libvirt support for static Skydive compile"
When compiling Skydive static, libvirt is disable. To allow freedom of deployment to various destinations we compile Skydive in static mode, this is used in docker and k8s and it would be beneficial to have the functionality of libvirt also enabled in that type of compilcation

[2018-11-16 11:18] lusoheart commented on #1446
Hi,
I succeeded in deploying the skydive agent to other nodes than compute ones.
Besides the nodeselector on the daemonSet, I replaced the default node selector on the project by using this command:

`oc patch namespace skydive -p '{"metadata": {"annotations": {"openshift.io/node-selector": ""}}}'`

I'll also redeploy the daemonset by

- exporting it
- changing the node selector on the exported ya

[2018-11-17 09:46] git001 commented on #1446
Hi @lusoheart if this is the recommend way then it's perfectly okay for me. I will create a PR to add it into the doc

[2018-11-19 18:52] SchSeba commented on #1391
Thanks for the update if there is anything I can help you with just tell me.

[2018-11-19 21:53] lebauce opened #1468 "Add VPP probe"

[2018-11-20 21:18] sergeyglazyrindev commented on #1458
Hello @eranra
Could you please send me your skydive topology in json ? I'll hardcode it in javascript and try to reproduce it locally.

[2018-11-20 21:20] sergeyglazyrindev commented on #1452
it seems like it is a legal case for my simplified topology approach. this is typical case for complicated topologies. @theonlydoo , do you have any ideas how to make it better ? what would be better solution for you ?

[2018-11-20 21:30] sergeyglazyrindev commented on #1431
hello @ErwanAliasr1
Could you please send me a json with your topology ? So I can reproduce it locally.

[2018-11-20 21:49] sergeyglazyrindev commented on #617
When this changeset will be merged
https://github.com/skydive-project/skydive/pull/1443
I'll start working on contributing our simplified app topology and then you may be able to see app topology in hierarchied view, each app is a separated VM. I think what you propose now doesn't solve the problem properly.... it solves only part of the problem.

[2018-11-21 08:36] safchain commented on #1458
I think that is because a collapsed node has a huge amount of node regarding the other. There is something to push the node away if crowded in the code. I guess we can check if collapsed or not to calculate the weight.

BTW There is a way to inject the topology with the python lib

[2018-11-21 08:39] safchain commented on #1431
ids are used as html/css id and `.` are not allowed which causes javascript error.

[2018-11-21 09:14] sergeyglazyrindev commented on #1431
Does that make sense to try to fix that ? To be honest it should be pretty rare situation....

[2018-11-21 10:46] theonlydoo commented on #1452
@sergeyglazyrindev thank's for asking, design is not my strong suit but I think a progressive view like this:

# step1
![skydive_view_proposal-base_view](https://user-images.githubusercontent.com/1903124/48836336-c3b8ce00-ed82-11e8-929f-0355000c0978.png)
# step 2
![skydive_view_proposal-clicked_view](https://user-images.githubusercontent.com/1903124/48836346-c9aeaf00-ed82-11e8-922d-adac90a6dd99.pn

[2018-11-22 10:55] sergeyglazyrindev commented on #1431
If we need to fix that, then we can assign to node some autoincremented id. and add an attribute data-id to node svg g element with real node id, that helps to be able to search by node id, if there's any need....
What do you think ?

[2018-11-22 11:46] safchain commented on #1431
Not sure we need to fix that, warning should be enough, otherwiser I would simply replace special characters by "_", it should enough. but will need to change some other thing accessing the ID

[2018-11-22 14:18] sergeyglazyrindev commented on #1431
I disagree with you, it's better to keep data as is, instead of doing strange transformations. For instance, we may get duplicated node ids, for example: if there would be two nodes with ids: a_a and a__a
I think what I proposed much cleaner... imho.

[2018-11-22 14:42] safchain commented on #1431
My point was just to replace css ID not real ID, but I missed the fact that one can provide non-uuid ID. Anyway I think warning should be enough. ID should be something simple no need to handle special characters. But If there is simple way to fix this I'm fine too :)

[2018-11-26 12:00] lebauce opened #1482 "Add DPDK flow tests"
Capture flows using DPDK

[2018-11-27 08:43] pierrecregut commented on #1463
Indeed, that would be nice. But the main problem is the availability of libvirt as a static library. It probably cannot be made as a default but it would be nice to be able to override the flag `WITH_LIBVIRT`. One solution would be to pass `WITH_LIBVIRT` as is instead of forcing its value:

    static: skydive.clean govendor genlocalfiles
        $(MAKE) compile.static WITH_LIBVIRT=$(WITH_LIBVIRT)

[2018-11-27 09:38] pierrecregut opened #1483 "python: support multi-threading"

[2018-11-27 09:40] pierrecregut commented on #1483
When

[2018-11-27 09:40] #1483 closed

[2018-11-27 09:53] pierrecregut opened #1484 "ansible: support multi-threading"
When skydive_node.py or skydive_edge.py are used in an ansible playbook, it is necessary to set --fork=1

[2018-11-27 09:55] safchain commented on #1484
can you give a example of a such playbook ?

[2018-11-27 09:59] safchain commented on #1484
what kind of error do you get without fork=1 ?

[2018-11-27 10:10] pierrecregut commented on #1484
It hangs. Here is the playbook. To use it, you can use any of the vagrant configurations from https://github.com/Juniper/vqfx10k-vagrant :

[code]

[2018-11-27 10:14] pierrecregut commented on #1484
This is basically your code from the blog post slightly adapted but used in a configuration with multiple hosts (a good environment is full-ipfabric-2S-3L that creates five switch).

[2018-11-27 10:41] safchain commented on #1484
Ok I do understand this error now. thx

So the host_id passed in the WSClient is always the same :(
https://github.com/skydive-project/skydive/blob/master/contrib/ansible/library/skydive_node.py#L168
https://github.com/skydive-project/skydive/blob/master/contrib/python/api/skydive/websocket/client.py#L146

It should be something unique per host/connection. I would use "ansible-" + hostname.

Tell

[2018-11-27 10:43] pierrecregut commented on #1484
Yes, reached the same conclusion. I used module.params["host"] instead of "analyzer"

[2018-11-27 10:44] pierrecregut commented on #1484
Probably better with "ansible-" as a prefix.

[2018-11-27 11:09] pierrecregut commented on #1484
To help new users, I suggest adding the following as notes in the ansible documentation:

    Because the default strategy of ansible is to spawn one thread per host,
    you should set host to the name of the target of the task
    (eg inventory_hostname).

Is it the right place ? is it readable ?

[2018-11-28 08:55] #1290 closed

[2018-11-28 09:45] #1484 closed

[2018-11-28 12:58] sergeyglazyrindev-samsung commented on #1458
yes, I do think so but I think in my implementation this issue should disappear. That's why I am interesting about samples of data where I can see this issue.

[2018-11-28 18:29] hunchback opened #1489 "k8s tests not running automatically"
Please update the CI from the current job.xml file so that k8s tests run automatically

[2018-11-28 20:38] lebauce commented on #1489
Jobs have been updated

[2018-11-29 08:46] dvandra commented on #204
Is it supporting now?

[2018-11-29 14:29] HareshKhandelwal opened #1490 "On Premise to Cloud Hosted infrastructure visualizaiton!!"
End to end visualization of On Premise infrastructure to Cloud hosted infrastructure by Skydive

Use case description:
A enterprise with Hybrid cloud infrastructure where few assets are present “On premise” and few on clouse hosting provider i.e. AWS and connected via Telco network (features like Direct Access of AWS). For example, On Premise hosting is on Openstack and on AWS, EC2 instances.

To

[2018-11-30 11:07] pierrecregut opened #1497 "ui, openflow: port names are no more displayed in openflow rules tables"
#1441 relies on the use of a subgraph. But this subgraph does not contain all the information used by ruledetail (we use interface linked to ovsports because they have the number OfPort metadata.)

[2018-11-30 20:35] assafmuller opened #1500 "Devstack integration doesn't add /opt/stack/go/bin to $PATH"
Just finished a stack.sh on a fresh Fedora 29 VM with the following local.conf:

[code]

It finishes successfully, the skydive processes are up, however the skydive client is no where to be found. My $PATH didn't seem to include /opt/go/*, and /opt/go/bin/ did not include a skydive binary.

[2018-11-30 20:42] lebauce commented on #1500
@assafmuller The skydive binary should be in /opt/stack/go/bin
/opt/go/bin is for the go compiler itself

[2018-11-30 20:46] assafmuller commented on #1500
My bad :) The only issue then is that the skydive devstack plugin doesn't amend /opt/stack/go/bin to $PATH.

[2018-12-03 08:47] #1497 closed

[2018-12-03 08:53] hunchback commented on #1489
thanks!

[2018-12-03 08:53] #1489 closed

[2018-12-03 08:54] hunchback opened #1501 "need to new release for ICP"
please bump the version

[2018-12-03 09:20] lebauce commented on #1501
While I understand this is important for you, ICP is a seperate project. You should be able to create a version without relying on upstream releasing a version. We can't create a new release each time some external project/company ask for it.

[2018-12-03 09:21] lebauce commented on #1501
@hunchback By the way, we already decided to create a new release (tag v0.21.0 is already pushed, deliverables are on theiru way)

[2018-12-03 10:05] hunchback commented on #1501
agreed - we shall use commit checksum in future

[2018-12-03 10:09] #1501 closed

[2018-12-03 10:10] hunchback commented on #1418
@duritong - you can now confirm that issue was solved

[2018-12-03 11:14] nplanel commented on #1463
we need to use pure golang libvirt connector  like https://github.com/digitalocean/go-libvirt

[2018-12-03 13:02] pierrecregut commented on #1463
We already discussed about it. This library does not support events and you cannot ask it to follow libvirt evolution.

[2018-12-03 16:40] SchSeba commented on #1391
@safchain Sure I will thanks!

[2018-12-05 13:05] safchain commented on #1500
fixed: #1506

[2018-12-05 13:05] #1500 closed

[2018-12-06 12:18] safchain commented on #1288
Addressed by #1513

[2018-12-10 13:09] SchSeba commented on #1391
Hi @safchain I want to update you that this is not working for me.

I need to update the openshift deployment to change the config on the agents.
[code]

but I still don't see the pods or containers in the UI.

deployment file
[code]

agent log:
[code]

please tell me if you need something else.

[2018-12-10 13:16] safchain commented on #1391
Can you please point me a documentation in order to install a similar environment ?

[2018-12-10 16:33] EmilienM opened #1517 "Integration of Podman"
RHEL systems are moving from Docker to CRI-O container tools, like Podman, Buildah, etc; instead of the Docker engine.
This issue will track the work done to integrate these tools into Ansible playbooks that deploy Skydive.

[2018-12-11 08:58] JmilkFan opened #1522 "Libvirt domain's Interface register wrong"
Libvirt Domain has multiple interfaces, but Libvirt Topology Probes function `getDomainInterfaces` can only get one of them.

[2018-12-11 09:07] JmilkFan commented on #1522
https://github.com/skydive-project/skydive/blob/dbdd6bd19438057c14ee9ffa93c2551455004314/topology/probes/libvirt/libvirt.go#L112

[2018-12-11 09:08] JmilkFan commented on #1522
https://github.com/skydive-project/skydive/blob/dbdd6bd19438057c14ee9ffa93c2551455004314/topology/probes/libvirt/libvirt.go#L112-L119

[2018-12-11 09:09] JmilkFan commented on #1522
https://github.com/skydive-project/skydive/blob/dbdd6bd19438057c14ee9ffa93c2551455004314/topology/probes/libvirt/libvirt.go#L112-L117

[2018-12-11 17:40] safchain commented on #1391
I tried and I had it working (maybe not as expected :) can you check that you don't have any node
with `Manager : runc` in metadata ?

[2018-12-12 08:05] SchSeba commented on #1391
Hi @safchain
`oc get node -o yaml | grep Manager` I don't get anything.

What you mean about "maybe not as expected" I think It will be the same as with docker from the UI perspective. Because right now I just get all the veth on the host namespace connected to the ovs bridge but not veth in the container namespace.

[2018-12-12 08:56] safchain commented on #1391
Hi @SchSeba could you share a screenshot ? I mean checking that there is no Skydive node(on WebUI) with `Manager: runc` metadata.

[2018-12-12 09:40] SchSeba commented on #1391
@safchain sorry I maybe don't understand you.

here is the metadata from the WebUI
[code]

One thing this server is not ubuntu
[code]

Please tell me if you need something else.

[2018-12-12 09:42] hunchback opened #1527 "k8s tests are flaky"
Many failures due to:

[code]

[2018-12-13 17:11] safchain commented on #1391
@SchSeba Here what I got with the inventory you gave me. I'm able to see container/namespace + veth. Can you check the version of Skydive (header bar on the WebUI)
![runc](https://user-images.githubusercontent.com/2663912/49955125-62f45f80-ff02-11e8-8956-84501db4e50c.png)

[2018-12-13 17:15] safchain commented on #1391
@SchSeba With the ovsdb probe, that is better :)
![runc](https://user-images.githubusercontent.com/2663912/49955408-004f9380-ff03-11e8-87bb-3f10d049aef4.png)

[2018-12-13 19:16] SchSeba commented on #1391
@safchain Amazing!

but this is what I see
![screenshot from 2018-12-13 21-13-53](https://user-images.githubusercontent.com/4209208/49961824-46652100-ff1c-11e8-8df3-476a6ef98324.png)

Can you maybe share with me your yaml's and deployment instruction of the skydive?

[2018-12-15 02:37] JmilkFan commented on #1522
Fixed & Closed.

[2018-12-15 02:37] #1522 closed

[2018-12-17 16:05] safchain commented on #1391
@SchSeba I didn't use a yaml file I just deployed skydive by hand. I tried with the yaml file you provided but got permission issues(privileged container). I think that the `runc` probe is not properly set in the config file/yaml. I'll try to fix my permission issues. There is no version issue, you just need a >= 0.21 version

[2018-12-17 18:10] SchSeba commented on #1391
@safchain  can you try to deploy it with https://github.com/skydive-project/skydive/tree/master/contrib/openshift this is what I used.

[2018-12-18 08:02] safchain commented on #1372
Closing it as agent doesn't require anymore to be started as root since #1373. Feel free to re-open if needed.

[2018-12-18 08:02] #1372 closed

[2018-12-18 08:05] safchain commented on #679
Closing it as most of the points have been addressed. Will open more specific issues to address remaining things.

[2018-12-18 08:05] #679 closed

[2018-12-18 08:11] safchain opened #1536 "Deployment on Centos with package is broken due to unmet dependency (openstack newton packages)"
A solution could to create a repo file instead of installing opstools package

[2018-12-18 08:13] safchain commented on #1527
It seems k8s tests are not stable to by themself too
http://ci-logs.skydive.network/skydive-k8s-tests/builds/1387/log.html

[2018-12-19 09:17] safchain commented on #1391
@SchSeba Yes I tried but facing the "Privileged containers are not allowed" issue

[2018-12-19 12:43] mnasiadka opened #1541 "Skydive in Docker container with dumb-init - zombie reaping problem"
Hello,
In OpenStack Kolla we use skydive_agent in Docker container with dumb-init as the init system.
Just after starting skydive_agent I can see a lot of ovs-ofctl zombie processes, which get killed after stopping skydive agent.

**Skydive version**: 0.21.0

**Skydive config file:**
### Skydive agent config file

auth:
  analyzer_username: admin
  analyzer_password: [masked]

logging:
  level: IN

[2018-12-19 14:10] hunchback commented on #1527
I think: https://github.com/skydive-project/skydive/pull/1543 fixes these

[2018-12-19 14:19] safchain commented on #1527
it would be nice to identify the bug precisely. The pointed patch is pretty big not sure to see where the bug is fixed. I would like to see this stable.

[2018-12-20 12:26] hunchback opened #1544 "ui: add grouping of nodes according to metadata field(s)"
in the k8s setup I would like to be able to group all nodes which have the same metadata value - for example in the bookinfo sample example I would like to group according to:

[code]

Such that all elements that have `app=reviews` are clustered together (pods, deployments, networkpolicy)

[2018-12-21 18:37] safchain commented on #1391
@SchSeba I managed to get it working. I used the following template

[code]

Basically adding runc and adding `runc` folder mount.

I got the following topology:

![screenshot-skydive-analyzer-default router default svc cluster local-9999-2018 12 21-19-34-41](https://user-images.githubusercontent.com/2663912/50357898-d841df00-0557-11e9-9866-107db0d2448b.png)

[2018-12-22 11:43] safchain commented on #1391
@SchSeba yes you can create a PR for k8s and openshift deployments. I don't think there is a problem activating both probes.

[2018-12-24 11:10] SchSeba commented on #1391
Hi @safchain, It still didn't work for me.
I got into the code a bit and saw the folder you try to read from `/run/runc` this folder is empty in my deployment.

this is the version of cri-o I used
[code]

I can see data in this folder
[code]

and inside of any folder there
[code]

please tell me if you need any other information

[2018-12-24 12:14] SchSeba commented on #1391
Thanks for the comment @safchain!

I just have a question what engine you use? how it can be that you mount the `/run/runc` and I needed to mount the `/run/runc-ctrs` ?

Now I am not sure what volume to configure in the openshift deployment PR I am going to open for this repo.

[2018-12-24 13:56] safchain commented on #1391
We don't use any engine. We use the code that was already there in Skydive. we are just parsing the runc files according to the specs. I think the issue is due the openshift/crio/distribution. I used what you suggested to deploy it but it was on a Fedora 29.

I would suggest to mount both folder and to specify them in the config file here:
https://github.com/skydive-project/skydive/blob/master/etc

[2018-12-24 14:03] SchSeba commented on #1391
@safchain fine and what about the openshift and k8s deployment ? there is a way to configure multiple folders for one probe? maybe add a configmap into the agent pod?

[2018-12-27 12:16] SchSeba commented on #1391
Hi @safchain just a quick update this configuration doesn't work for me.
[code]

The agent skill look into `/run/runc/` folder only.

[2018-12-27 16:12] safchain commented on #1391
I just tested

here the config I used as example

[code]

and I got the following lines in the logs (DEBUG level)

[code]

Can you check in the logs that the modification that you did in the config file is correctly read ?

[2018-12-27 16:42] SchSeba commented on #1391
Thanks for the answer @safchain How I can enable the debug level in the logs?

[2018-12-27 21:34] safchain commented on #1391
in the config file

https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L347

[code]

[2018-12-29 05:05] jonnary opened #1557 "lock in graph maybe too big"
Functions in Graph.go no lock. Need Look for this functions, maybe this type lock is too big.
We'd better reconsider this problem.

[2018-12-29 11:50] safchain commented on #1557
Can you elaborate, I don't understand what is the issue. Do you have a way to reproduce it ?

[2018-12-30 13:17] safchain commented on #1418
Closing it for now, please re-open if needed

[2018-12-30 13:17] #1418 closed

[2018-12-30 16:24] hunchback opened #1559 "add link to k8s bookinfo skydive demo video"
please review: https://youtu.be/iqi2uJhLeY8 and embed a link to it within skydive online documentation

[2018-12-31 08:30] hunchback opened #1560 "on commit docker image upload tagged by git SHA1"

[2019-01-02 09:04] safchain commented on #1559
Added here : https://github.com/skydive-project/skydive.network/pull/42

[2019-01-02 09:04] #1559 closed

[2019-01-02 09:54] safchain commented on #1527
Closing it for now as it seems to be better now

[2019-01-02 09:54] #1527 closed

[2019-01-02 19:59] shadikardosh commented on #644
This is happening to us as well when we try to build the skydive project. the script you posted didn't help (or maybe I didn't understand what it does). can you please help us? we did install all the dependencies as specified here: http://skydive.network/documentation/build and we're working onb Ubuntu.

`unexpected directory layout:
	import path: github.com/jteeuwen/go-bindata
	root: /home/shadik

[2019-01-02 21:04] safchain commented on #644
I just tested on a fresh ubuntu 18.04 taking the documentation steps which gives the following scripts

[code]

It seems that the build as been killed.
`/home/shadikardosh/go/pkg/tool/linux_amd64/link: signal: killed`.
Is there enough memory ?

BTW the script pointed in this issue is deprecated, I deleted it.

[2019-01-03 12:03] rbo commented on #1391
Hi, I have the same problem with my skydive installation on OpenShift: Missing CRIO informations:
![screenshot 2019-01-03 at 13 02 20](https://user-images.githubusercontent.com/36604/50636850-ef210200-0f57-11e9-91af-66e529f4cbc8.png)

**Versions**:
Skydive Agent 0.21.0-a772a0989b39
openshift v3.11.51
kubernetes v1.11.0+d4cacc0

**Logs from the agent:**
[code]
Nor more informations about runc in th

[2019-01-03 12:22] safchain commented on #1391
@rbo what distribution are you using ?

[2019-01-03 13:39] safchain commented on #1391
@rbo Thanks that would be great to have the access if needed.

Can you just test something before, it looks like the `/var/run/runc` folder is not the folder where runc keeps the states. Can you try with the following folders `/run/runc-crts` or maybe `/run/runc`. We merged recently a commit that add them by default:
https://github.com/skydive-project/skydive/commit/9b9dfdbbb551159f3122e10930afd07

[2019-01-03 13:49] rbo commented on #1391
It works!

**DaemonSet**
[code]

**Logs**
[code]
![screenshot 2019-01-03 at 14 48 30](https://user-images.githubusercontent.com/36604/50640931-b0df0f00-0f66-11e9-94e1-ea712ba1f156.png)

[2019-01-04 07:58] rbo commented on #1391
I created an pull request with some changes to improve the installation on OpenShift : #1564

[2019-01-04 12:10] shadikardosh commented on #644
Correct! there wasn't enough memory. Thanks a lot!

[2019-01-07 16:38] nbratman opened #1570 "icmpv4 injected packets have ip_header[time_to_live] = 0"
=> they are dropped on the way and never arrive their destination
tcpdump output on the sender side:
![image](https://user-images.githubusercontent.com/26632729/50780398-7c8f8980-12ab-11e9-8d35-131070e0646d.png)
tcpdump on the receiver side is empty

[2019-01-07 16:41] safchain commented on #1570
@nbratman thanks for reporting this. Do you plan to submit a patch or do you want us to fix it ?

[2019-01-07 16:47] nbratman commented on #1570
@safchain Honestly I don't know how to fix this, or where in the code to look, but If you can point me in the right direction I can try

[2019-01-07 16:53] safchain commented on #1570
@nbratman it should be easy :)

here is where the icmp is generated :
https://github.com/skydive-project/skydive/blob/master/packetinjector/forge.go#L69

You will see that the TTL is not provided. But if take a look at the tcp packet generation you will see that the TTL is set :
https://github.com/skydive-project/skydive/blob/master/packetinjector/forge.go#L88

So it just matter of providing as it

[2019-01-07 16:53] nbratman commented on #1570
@safchain but I'm new to Skydive, so I think if you could do that instead it would be more correct and efficient

[2019-01-07 17:05] nbratman commented on #1570
@safchain https://github.com/skydive-project/skydive/pull/1571

[2019-01-09 09:20] hunchback commented on #1560
@safchain / @lebauce - note IBM Cloud helm chart skydive image configuration:
- https://github.com/IBM/charts/blob/master/stable/ibm-skydive-dev/values.yaml#L17
- https://github.com/IBM/charts/blob/master/stable/ibm-skydive-dev/values.yaml#L18

I would like to be able to replace:
- image.repository: from `ibmcloud/skydive` to`skydive/skydive` (with appropriate security settings)
- image.tag: from

[2019-01-09 14:44] lebauce commented on #1570
Fixed by https://github.com/skydive-project/skydive/pull/1571

[2019-01-09 14:44] #1570 closed

[2019-01-09 14:47] lebauce commented on #1541
@pierrecregut Any idea ?

[2019-01-09 14:54] #1536 closed

[2019-01-10 09:03] pierrecregut commented on #1541
Indeed there is a Wait missing for launchContinuousOnSwitch. As the command is retried until the bridge is available this creates a lot of zombie processes. The os usually cleans up the mess but not within containers. I push the fix.

[2019-01-10 11:09] #1541 closed

[2019-01-11 09:44] safchain commented on #1436
Fixed: #1532

[2019-01-11 09:44] #1436 closed

[2019-01-11 09:45] #1288 closed

[2019-01-11 09:48] safchain commented on #1391
@rbo @SchSeba do you think that this issue can be closed as it was to introduce the support of cri-o ? if we discover issue or we want to improve it we will open new issue ?

[2019-01-11 10:10] rbo commented on #1391
From my point of view: yes - OpenShift works very well with my pull request. I don't know plain k8s.

[2019-01-11 10:16] safchain commented on #631
Fixed: #1470

[2019-01-11 10:16] #631 closed

[2019-01-11 14:50] SchSeba commented on #1391
Yes I think we can close this issue now thanks for the help!

[2019-01-11 15:05] safchain commented on #1391
Thanks @SchSeba @rbo for helping us to add Cri-o/OpenShift support !

[2019-01-11 15:05] #1391 closed

[2019-01-11 16:13] rbo commented on #1391
Welcome, ping me if you need further help!

[2019-01-14 10:03] orozery opened #1588 "Customize Flows handled by subscribers"
We want to allow a general mechanism that flow subscribers will use that will allow them to:
1. Remove fields from the Flow structs being sent to the subscriber.
2. Filter flows being sent to the subscriber (e.g. subscriber will only get flows that have Flow.FinishType != NOT_FINISHED).

I see a couple of potential places where you could place this filter & struct transformation code:
1. On a spec

[2019-01-15 14:14] eranra commented on #1588
@orozery - thanks for adding this issue. I think that there is no doubt that from performance and efficiency point of view option 2. is most compelling but the flip of that is that this option limits the capabilities and complicates the subscription process ....

@safchain @lebauce @nplanel waiting for your perspective on this issue

[2019-01-15 15:14] andrekassis opened #1592 "SSL Issues"
We have been experimenting with Skydive while securing the analyzer-agent connection over SSL and we found ourselves facing these following issues:
1. Even when the mode of operation is not all-in-one Skydive won't start with TLS support unless both certificates for the client and agent  are provided. E.g.:
tls:
  client_cert: /path/to/client_cert.pem
  client_key: /path/to/client_key.pem
  server

[2019-01-15 19:48] nplanel commented on #1592
@eranra

Basically, we running a script in our CI to validate the TLS, please have a look scripts/scale.sh

 1/ the root ca_cert is used as based to generate all the certificate (root CA)

 2/ crt is supported but it's mandatory for skydive to have extension defined like extendedKeyUsage = serverAuth,clientAuth for exemple
   put logging to Debug could help a bit, but obviously TLS will not return

[2019-01-16 10:41] nbratman opened #1596 "Python API: noderule_list and edgerule_list don't work"
both throw exception because they handle the REST response incorrectly.
response is a dictionary with uuids as keys and the noderule/edgerule dictionary as value.
both noderule_list and edgerule_list iterate over the outer dictionary keys rather than the values

what I tried to do:
![image](https://user-images.githubusercontent.com/26632729/51243498-68264d80-198b-11e9-80fd-3d6d59914026.png)

what

[2019-01-16 10:51] safchain commented on #1557
Closing it for now. Feel free to re-open it with more details if needed. Thanks

[2019-01-16 10:51] #1557 closed

[2019-01-16 11:03] masco-enovance commented on #1596
Hi, thanks for reporting the bug. the fix is available here https://github.com/skydive-project/skydive/pull/1597

[2019-01-17 11:17] safchain commented on #1596
Closing it as the fix is merged. Thanks

[2019-01-17 11:17] #1596 closed

[2019-01-17 18:13] hunchback commented on #1559
updated video now at: https://youtu.be/DOQvtIR6c_A

[2019-01-17 19:18] hunchback opened #1604 "need a new release for ICP (until we have continues releases)"
@lebauce - I need a release containing the latest k8s enhancements - hopefully in future we will have the automatic (on-commit / daily) creation of docker images.

[2019-01-18 15:57] pierrecregut commented on #1544
This could have other uses if it was accessible to the end-user (eg through workflows). I have a similar need to answer a question from internal users. To handle high availability a lot of elements (virtual or physical ie fabric) are duplicated. The result is a topology very hard to understand. They would like to be able to group the duplicates (eg interfaces in a LAG).

This makes the ownership r

[2019-01-21 15:26] KalmanMeth opened #1613 "skydive crashes when have illegal line on analyzer.fabric in skydive.yaml"
I added
[code]
in skydive.yaml resulting in skydive analyzer crashing.

[code]

[2019-01-21 16:18] lebauce commented on #1613
Could you please post the full `fabric` section ? I can't reproduce the bug. Thanks !

[2019-01-22 08:01] KalmanMeth commented on #1613
Full fabric section:

    fabric:
      # - TOR[Name=tor] -> TOR_PORT1[Name=port1]
      # - TOR1[Name=tor1] -> TOR1_PORT1[Name=port1]
      # - TOR1[Name=tor1] -> [color=red] TOR1_PORT2[Name=port2, MTU=1500]
      # - TOR_PORT1 --> TOR1_PORT1
      # - TOR1_PORT2 --> *[Type=host]/eth0
      TOR1_PORT2 --> *[Type=host]/eno16

[2019-01-22 08:54] lebauce commented on #1613
Addressed by https://github.com/skydive-project/skydive/pull/1615

[2019-01-22 11:02] safchain commented on #508
fixed: #527

[2019-01-22 11:02] #508 closed

[2019-01-23 17:16] safchain commented on #1613
@KalmanMeth can we close it now ?

[2019-01-24 08:00] #1613 closed

[2019-01-24 16:04] eranra opened #1622 "DNS protocol parsing"
Hi,

I was looking on Skydive DNS parsing today (the IBM team is looking to extend and use information from parsing DNS information by Skydive). I was able to activate capture and saw the DNS layer, but could not see the "ServerName" field (==DNS entry). Just the app==DNS and some numeric fields.

I am attaching a screenshot.

Not sure if this is "working as expected" and than the question is why

[2019-01-28 09:43] orozery opened #1625 "Flow subscriber un-marshaling error"
Looks like PR #1593 broke the object store flow subscriber (and maybe flow subscribers in general?)

When trying to run the subscriber I'm getting:
2019-01-28T10:52:08.717+0200    ERROR   subscriber/objectstore.go:43 (*Subscriber).OnStructMessage      ubuntu: Failed to unmarshal flows:  proto: illegal wireType 7

@safchain

[2019-01-28 10:04] safchain commented on #1625
@orozery Thanks for reporting this, I'll have a look

[2019-01-28 10:59] nplanel commented on #1625
$< has been replaced/removed : https://github.com/skydive-project/skydive/pull/1593/files#diff-b67911656ef5d18c4ae36cb6741b7965L215

[2019-01-28 11:06] orozery commented on #1625
What does that mean?

[2019-01-28 13:20] #1275 closed

[2019-01-28 13:24] safchain commented on #1086
@lindhor Any news on this one ? Can we close it ?

[2019-01-28 15:04] #1625 closed

[2019-01-28 17:15] lindhor commented on #1086
I am not aware that any fix has been provided for this yet. It might have been solved anyway but I’ve not been able to try the latest commits yet since I’ve been busy on another project. If you’re not able to reproduce it I would say close this issue since we are now using webservices.

[2019-01-29 00:11] safchain commented on #204
Fixed: #1539

[2019-01-29 00:11] #204 closed

[2019-01-29 08:50] safchain opened #1629 "Add sflow advance capture mode"
Modes should be as follow :

- SFlow samples
- SFlow counters
- SFlow samples + counters

[2019-01-29 08:52] safchain opened #1630 "Add config option to disable ovs metrics"
Often these metrics are the same as netlink ones and have a cost (json unmarshal). The goal is to allow the user to disable them in the config file.

[2019-01-29 16:36] safchain commented on #1437
Fixed : #1532

[2019-01-29 16:36] #1437 closed

[2019-01-29 17:15] safchain commented on #1086
@lindhor ok thanks, I close it. We will re-open if needed

[2019-01-29 17:15] #1086 closed

[2019-02-01 06:44] masco-enovance commented on #1630
fix merged

[2019-02-01 06:44] #1630 closed

[2019-02-03 13:28] andrekassis opened #1642 "DNS extra fields"
Hi Guys,
Following #1622 and after some more advanced research, we have come to realize now that the process in which flows are created ignores the most important fields in the DNS protocol. We introduce a patch in a new PR #1641 were we extract these fields and append them to the flows. The extra data we've added so far is not enough as it only displays the query and the answer, ignoring the auth

[2019-02-11 08:31] masco-enovance commented on #1343
https://github.com/skydive-project/skydive/pull/1652

[2019-02-11 08:31] #1343 closed

[2019-02-11 17:02] hunchback opened #1654 "Add a containerd (container runtime) probe"
containerd has been adopted by k8s 1.10 as the default runtime:
https://kubernetes.io/blog/2018/05/24/kubernetes-containerd-integration-goes-ga/

And is now becoming default on k8s cluster solutions (IKS, ICP and OpenShift):
https://console.bluemix.net/docs//containers/cs_versions.html

so the request is:

(1)
To add containerd along side runC and docker:
https://github.com/skydive-project/skydive

[2019-02-11 17:11] safchain commented on #1654
1 - runC is not enough ? it has been tested with containerd and cri-o with success. Please see https://github.com/skydive-project/skydive/issues/1391

2. it is bit hard to detect what is the runtime used. It seems to me that is a deployment thing and should be part of the configuration. Docker and runc probe should work properly together (as least from what I tested)

3. makes sense

[2019-02-12 09:40] hunchback commented on #1654
ok, in that respect do we have ci tests which setup various runtime environments?  should this be added such that we have:

[code]

And:

[code]

And then we are able on the ci to check that the runc probe covers containerd needs.

[2019-02-12 09:44] hunchback commented on #1654
when skydive is packaged (such as k8s yaml, helm chart or OpenShift) you use a pre-defined configuration. This configuration should be able to handle some variation on targets such as k8s ranging in version (1.9 using the docker runtime  / 1.10 using the containerd runtime) - while it is possible to expose a configuration parameter  - that is error prone - the better solution is query - such as fo

[2019-02-12 09:55] safchain commented on #1654
We do have a test for runC here: https://github.com/skydive-project/skydive/blob/master/tests/runc_test.go
As containerd is only using runC to start containers, I think the difference between containerd environment and podman/runc/etc. environments are almost only the path of the state files.

Checking docker socket is currently not a way to detect if docker is there or not. I saw a lot a differen

[2019-02-12 10:36] lebauce commented on #1654
I don't understand. We don't need to have a dedicated script to have a package installed. We have ansible playbooks to setup on CI machines and `docker`, `runc` and installed using them.

In the same way that we don't have run-openvswitch-tests.sh, run-lxd-tests.sh, etc...., we don't need to have a dedicated script for a set a tests. The `-run` flag of `go test` can be used for this. In our case,

[2019-02-12 13:04] hunchback commented on #1654
ok

[2019-02-12 13:41] hunchback commented on #1654
maybe by using a programmatic equivalent to:

[code]

[2019-02-12 15:06] bwesemann opened #1655 "Add native ovn probe without neutron"
is this possible? like ovs?

[2019-02-12 19:24] vwilburn opened #1656 "Tagging of Helm chart in IBM Cloud Kubernetes Service: solution tab"
I'm exploring the Solution tab for all the Helm charts. I'm seeing a mismatch when I use the `IBM Cloud Kubernetes Service` filter and the chart's readme. For example, the Skydive chart says it's only for ICP, but it shows up in the filtered view when I select `IBM Cloud Kubernetes Service`.

https://console.bluemix.net/containers-kubernetes/solutions/helm-charts/ibm-charts/ibm-skydive-dev

[2019-02-13 09:52] safchain commented on #1655
I would say everythin is possible :) The current ovs probe if working without neutron. What kind of information you would like to report ?

[2019-02-13 10:20] nplanel commented on #1656
@eranra

[2019-02-13 10:32] safchain commented on #1655
Ok thanks for the inputs. I put a label to track this and we will work on it

[2019-02-13 10:35] bwesemann commented on #1655
wow perfect!

[2019-02-13 11:24] eranra commented on #1656
@nplanel thanks
@vwilburn, I sent you mail + @hunchback should be in the loop

When this will resolve it will be good to float the information here (into this issue) before closing.

[2019-02-13 16:48] hunchback commented on #1656
@vmilburn - handled and will be addressed in our next release (regardless this is an IBM not a community issue) - you can close this ticket now. thanks!

[2019-02-19 23:55] vwilburn commented on #1656
@hunchback  Would you mind including the internal GH issue link for future reference?

[2019-02-20 10:16] #1656 closed

[2019-02-21 11:11] safchain commented on #1454
Fixed: #1669

[2019-02-22 09:14] safchain opened #1676 "Convert VFS field to struct"
https://github.com/skydive-project/skydive/blob/master/topology/probes/netlink/netlink.go#L519
#1583

[2019-02-23 08:15] jonnary commented on #1463
Any result for the discussion?
We met a problem:compile with libvirt in ci machine, then the skydive bin cannot run in some machine if the libvirt.so vesion is lower than ci machine

[2019-02-24 08:15] eranra opened #1677 "Fabric from environment variable"

[2019-02-24 08:28] eranra commented on #1677
When configuring fabric using SKYDIVE_ANALYZER_TOPOLOGY_FABRIC, for example "TOR1->*[Type=host]/eth0" the analyzer do not start and log "Fabric configuration should be a list of entries"

This started post the commit  https://github.com/skydive-project/skydive/commit/b762f2b4c23f16dd6ef29f35e1ca54724796607d#diff-8b4b9d729a1da4e230b1b3002a9485ca

@lebauce @hunchback

[2019-02-24 10:43] hunchback commented on #1654
the main requirement has been met by the runC probe; automatic discovery (of which probes exist) is a much larger feature not being address for now.

[2019-02-24 10:43] #1654 closed

[2019-02-24 10:43] hunchback commented on #1604
Is going to be addressed with 0.22 release

[2019-02-24 10:43] #1604 closed

[2019-02-28 10:35] hunchback opened #1679 "runc: normalize /etc/hosts parsing"
by @eranra:

We need to handle cases in which there is more than a single IP in the /etc/hosts (that is not loopback) ... the current solution is not guarantied to work in such cases in any consistent way.

You might take the largest or smallest IP ... or sort lexicographic .... or something ... in any event taking the 'last' IP in the table might not be consistent over reboots or other operations

[2019-03-05 19:36] winsopc opened #1681 "how to add ovs oflow enable option in the k8s yaml file"
I tested on my k8s with daemonset,  works fine after I added ovsdb probes,  but I cannot see the flows, I suspect the oflow bydefault is disable,  I only the vagrant file has enable it,  I wonder how to enable it in the yaml for k8s, anyone has idea?

[2019-03-07 10:27] eranra commented on #1677
We tried:

SKYDIVE_ANALYZER_TOPOLOGY_FABRIC='{"item1":"TOR1->*[Type=host]/eth0"}' ~/go/bin/skydive
analyzer

and

SKYDIVE_ANALYZER_TOPOLOGY_FABRIC="[\"TOR1->*\[Type=host\]/eth0\"\]"  ~/go/bin/skydive analyzer

and got:

Failed to create analyzer: Fabric configuration should be a list of entries

[2019-03-08 07:30] masco-enovance commented on #1676
https://github.com/skydive-project/skydive/pull/1686

[2019-03-11 08:35] FarnazZ opened #1694 "Openstack Multi-node connection between compute node and controller - docker compose"
I installed skydive via docker compose, I have multi node openstack , one node contain network and controller and another node is compute node, I added compute node as a agent to skydive analyzer but they are separated from each other and there is no connection between them( like ToR), I want to check that is there any other ways or not.

if ToR is the only way, I'm working on openstack packstack

[2019-03-11 10:25] lebauce commented on #1655
@bwesemann We just pushed a PR https://github.com/skydive-project/skydive/pull/1680 that adds  a basic OVN probe to Skydive. That would be really appreciated if you could give it a look.

[2019-03-11 10:26] lebauce commented on #1655
@bwesemann By the way, can you share the context of what you would like to do with Skydive and OVN ?

[2019-03-11 15:07] bwesemann commented on #1655
wow nice.
can you please assist me?
is this right?
git clone https://github.com/lebauce/skydive
git checkout -b ovn-probe
git pull origin ovn-probe

[2019-03-11 15:35] lebauce commented on #1655
@bwesemann Sure. http://skydive.network/documentation/build#installation describes the process for Fedora and Ubuntu. We also are on IRC if you have any issue. Thanks

[2019-03-11 23:50] safchain commented on #1642
Fixed: #1641

[2019-03-11 23:50] #1642 closed

[2019-03-11 23:51] #1622 closed

[2019-03-11 23:51] #1454 closed

[2019-03-12 07:45] safchain commented on #1458
Fixed: #1495
Please re-open if needed

[2019-03-12 07:45] #1458 closed

[2019-03-12 10:10] bwesemann commented on #1655
with the commands above i get the following error:

/usr/local/src/go/src/github.com/skydive-project# make
CC= GOARCH= go get github.com/kardianos/govendor
/usr/local/src/go/bin/govendor sync
patch -p0 < dpdk/dpdk.govendor.patch
patching file vendor/github.com/intel-go/yanff/low/low.go
rm -rf vendor/github.com/weaveworks/tcptracer-bpf/vendor/github.com/
mv /usr/local/src/go/.skydive-build-tool bin

[2019-03-12 10:19] lebauce commented on #1655
@bwesemann What distribution are you using ?

[2019-03-12 10:25] bwesemann commented on #1655
lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.2 LTS
Release:        18.04
Codename:       bionic

[2019-03-12 10:59] lebauce commented on #1655
@bwesemann I just tried with a fresh ubuntu container `docker run -ti ubuntu:bionic` and copy pasted the commands of the documentation (without `sudo`). The `make` was successful. Is it a VirtualBox VM ? Could you try with a different $GOPATH (such as $HOME/go) ?

[2019-03-12 11:27] bwesemann commented on #1655
git clone https://github.com/skydive-project/skydive.git $GOPATH/src/github.com/skydive-project/skydive

thats working, but how do i get your pull request?
thanks

[2019-03-12 15:26] lebauce commented on #1655
[code]

[2019-03-13 12:39] wat101 opened #1702 "Is it feasible to add spine switch into network topology"
I have below topology discovered by lldp probe,

host 1  <---> tor 1
host 2  <---> tor 2

Tor 1 and tor 2 are actually connected through a spine switch.  How can I add the spine with correct connections via fabric?

[2019-03-13 12:49] safchain commented on #1702
I would suggest to add this information using the configuration file:
https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L102

I would be something like:

[code]

Another option is to use the API:
http://skydive.network/documentation/cli#topology-rules
http://skydive.network/blog/topology-rules.html

[2019-03-13 13:20] wat101 commented on #1702
I tried the fabric way. I can see spine1 created but not connected to the tor.

Tor1 and tor2 are auto-discovered via LLDP. I don't know the exact interface on tor1/2 to the spine. It seems I cannot just add an arbitrary port , like "port1", to the tors?

Below is my config.
[code]

[2019-03-13 13:31] wat101 commented on #1702
I solved my need with below cli. Thanks for the document link!  What would be the equivalent config with fabric?

[code]

[2019-03-13 15:07] bwesemann commented on #1655
i've got it.

thank you!

![ovn](https://user-images.githubusercontent.com/31445348/54287696-7321e680-45a6-11e9-8ef9-ed83d8cb81a5.png)

is it possible to draw a line between the vm port and logical switch port? and on the next step a link between the logical switches and router?

best regards

[2019-03-13 19:40] lebauce commented on #1655
@bwesemann The screenshot says it's version 0.18 (which is 6 months old) and I don't see any OVN objects (only OVS objects). Can you make sure you are on the right git branch ? (`git log`). Once the correct version is compiled, you also need to enable the probe on the analyzer (section `analyzer.topology.probes`)

[2019-03-14 10:47] lebauce commented on #1655
@bwesemann My bad, it says `Analyzer 0.18.0-5512d798ca97`, the commit `5512d798ca97` seems to be the right one but the `0.18.0` part is wrong. So there must be something wrong with the way we show the version.

Right now, the probe is really trivial : it collects the OVN logical switches, logical ports and ACL and create Skydive nodes for them. It also creates links between the logical switches an

[2019-03-15 07:52] bwesemann commented on #1655
i mean in ovn you can have logical routers as well.
from south to north this means:
the logical switch have a logical switch port called 'intra-router-port' this one connects to a logical router called 'router1'.

on this router there are some routes defined on the logial router ports.
this router then is connected to another switch called 'transit' and this switch have a link to another router wh

[2019-03-18 10:32] wat101 opened #1708 "mirror interface not removed after capture deleted"
I created a capture between two VMs located on two hypervisors. As soon as I click "Start" button, there're 100 mirror interfaces created on the source hypervisor.  After I delete the capture, there're still 31 mirror interfaces left.  However, if I created a capture between 2 VMs on same hypervisor, only 2 mirror interfaced created, and both removed correctly after capture deleted.

The connectio

[2019-03-19 12:01] #979 closed

[2019-03-19 13:02] lebauce commented on #1677
Addressed by https://github.com/skydive-project/skydive/pull/1713

[2019-03-20 08:14] #1517 closed

[2019-03-20 12:49] safchain commented on #1708
addressed by #1719

[2019-03-20 23:17] ahrennsiva opened #1721 "Dashboard - Can't see applications running on a single host"
I have an AWS EC2 instance on which I installed the All In One agent. Within this host, I'm running a Flask server, a proxy server (routes to Flask server), and another application which is used to send requests rapidly to the proxy server.

I want to see within my Skydive dashboard the Flow capture from my application sending requests to the Flask server (with the multihop path through the proxy

[2019-03-21 10:00] lebauce opened #1723 "Add Gremlin console to WebUI"

[2019-03-21 10:34] #1677 closed

[2019-03-21 11:06] hunchback commented on #1723
# Templating

## by resources under namespace

[code]

## by k8s resouces under namespace

[code]

## all containers of a pod

[code]

## pods by namespace (including namespace object)

[code]

[2019-03-21 11:10] lebauce opened #1724 "Add Gremlin console to WebUI"

[2019-03-21 11:15] hunchback commented on #1723
# And operator

## services under kube-system

[code]

[code]

[2019-03-21 11:16] #100 closed

[2019-03-21 11:16] #164 closed

[2019-03-21 11:17] lebauce commented on #1468
Addressed by https://github.com/skydive-project/skydive/pull/1537

[2019-03-21 11:17] #1468 closed

[2019-03-21 11:17] lebauce commented on #1406
Addressed by https://github.com/skydive-project/skydive/pull/1643

[2019-03-21 11:17] #1406 closed

[2019-03-21 11:19] lebauce commented on #1299
Addressed by https://github.com/skydive-project/skydive/pull/716

[2019-03-21 11:19] #1299 closed

[2019-03-21 11:19] #1679 closed

[2019-03-21 11:29] hunchback commented on #1723
## OR operator

# kube-system or istio-system

[code]

[2019-03-21 11:44] hunchback commented on #1721
Skydive has no notion of "application", but if your services were containerized (docker, containerd or runC) then these would have an associated graph node.

If you decided to go that route then you need to enable agent probes: docker or runc (which also tracks containerd).

[2019-03-21 11:44] #1721 closed

[2019-03-21 12:11] hunchback commented on #1681
Please see the following example: https://github.com/skydive-project/skydive/blob/master/contrib/kubernetes/skydive.yaml

As skydive accepts environment variables as an alternative to configuration file the above example make use of SKYDIVE_AGENT_TOPOLOGY_PROBES

And to enable probe ovsdb just append it to this env variable within the k8s yaml file

[2019-03-25 08:49] safchain opened #1730 "UI Improvements"
This issue aims to gather related idea/effort to improve the UI:

**Filtering:**

- Avoid using directly gremlin
  - https://github.com/skydive-project/skydive/issues/1723
- Make the filtering component a real component with different view/vuejs template. Can be a search box or a direct filtering button.

**Topology view:**

- Use statically defined/template view, like container view, VM view, inf

[2019-03-25 08:52] safchain commented on #614
Close for now. Please re-open it if needed

[2019-03-25 08:52] #614 closed

[2019-03-25 08:54] safchain commented on #1438
Fixed

[2019-03-25 08:54] #1438 closed

[2019-03-25 08:56] safchain commented on #229
Close it for now, will be addressed by  #1730

[2019-03-25 08:56] #229 closed

[2019-03-26 15:28] quangtamle opened #1738 "Questions about Skydive using OrientdDB"
Hi Everyone,

I deployed a small lab with Skydive and OrientdDB. I want Skydive to store its data in OrientDB, How can I do ??? Is there any idea ???

Thank you in advances

[2019-03-27 09:20] lebauce commented on #1738
@quangtamle Hi. To use OrientDB as a Skydive datastore for topology, you need to set the `analyzer.topology.backend` key to `orientdb` (https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L82) and the `analyzer.flow.backend` key to `orientdb` (https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L75)

[2019-03-27 10:48] quangtamle commented on #1738
Dear @lebauce

Thank you for your instruction !!!

Now I can connect Skydive with OrientDB . I can see the traffic between them, then I log into the DB, I query for data but nothing there. Do you know what the problem is ????

[2019-03-27 11:36] wat101 commented on #1708
I downloaded the latest binary, and tried to create a capture between 2 VMs on two hypervisors. Now I get below error message says from the small yellow triangle:

**This capture doesn't currently match any node**

Please check there is a Layer 2 link in case of 2 nodes capture

[code]

[2019-03-27 11:45] wat101 opened #1742 "topoloy backend cannot set to elasticsearch"
When topology.backend is set to myelasticsearch, analyzer can start but not listen on port 8082. When topology.backend is set to mymemory, analyzer can start and listen on port 8082 properly.

Below is a snippet of my skydive.yml config.
[code]

[2019-03-27 12:59] safchain commented on #1742
It seems the ip is not correct

[code]

[2019-03-27 13:01] safchain commented on #1708
That is the expected behavior. By default a capture between two node from the web ui only follow L2 link and there is no L2 link between the VMs. It was a bug to allow this before. I would suggest to make two captures.

[2019-03-27 13:06] wat101 commented on #1742
Ohh, it’s a typo in the post. Actual ip in config file is correct.

[2019-03-27 13:36] safchain commented on #1742
I would suggest to use the elasticsearch backend for both flow and topology. Can you please check that elasticsearch work :

[code]

What is the elasticsearch version ?

Can you provide the logs ?

Thanks

[2019-03-27 14:00] hunchback opened #1744 "gremlin: shortestPathTo from pod to lookback failing"
The context of this is connecting k8s.pod to flows by using the following sequance:

k8s.pod --> k8s.container --> docker.container --> docker.namespace --> lo (flows)

Using Gremlin I would like to be able to highlight the path from a pod to its' respective lo device.

When attempting to do so I was able to get path when providing the lo TID:

[code]

Yielding:

![image](https://user-images.githu

[2019-03-27 14:07] safchain commented on #1744
The reason is that shortestpath doesn't support n to n path but provide only 1 to 1 path. We need to work on a fix.

[2019-03-27 14:09] hunchback commented on #1744
So do we want to change ShortestPathTo() or add a new gremlin step ?

[2019-03-27 14:23] safchain commented on #1744
I think can handle the n to n thing as the current API leads to think that is possible to do n to n.

[2019-03-27 14:35] hunchback commented on #1744
ok ... any guidance in case I want to attempt to extend it myself ?

[2019-03-29 12:02] wat101 commented on #1742
Confirm the issue is with elasticsearch's configuration, where"publish_address" was not set correctly.  After setting "publish_address" to the right IP, I'm able to start skydive, with both flow and topology end using elasticsearch.

For those who might be interested, below is the command line I'm using now to start elasticsearch container
[code]

Thanks for the troubleshooting tips!

[2019-03-29 12:02] #1742 closed

[2019-04-01 07:30] safchain opened #1750 "Make workflow executed from the API/Analayzer"
The goal is to remove the browser support from the workflow in order to keep only one script engine. The will help to get ride of promises too.

[2019-04-01 08:01] safchain opened #1751 "Write a generator to generate common.Getter from a struct"
Otherwise it is almost copy/paste and we want to generate getter in order to avoid using reflection

[2019-04-01 08:38] masco-enovance commented on #1750
https://github.com/skydive-project/skydive/pull/1666

[2019-04-01 14:36] lebauce commented on #1655
@bwesemann I reworked my PR to add a few things : more attributes for OVN objects, logical routers, links between logical switches and logical ports, links between the OVN port and the OVS interfaces.

Using the setup described here http://blog.spinhirne.com/2016/09/an-introduction-to-ovn-routing.html, you should get something like https://pasteboard.co/I88aEIt.png

I would really appreciate if yo

[2019-04-03 09:57] #1588 closed

[2019-04-03 13:22] lebauce commented on #1738
@quangtamle Would you mind copy/pasting your configuration file ? If it works correctly, you should see a database called "Skydive". Can you see it ?

[2019-04-03 14:25] quangtamle commented on #1738
Hi @lebauce

I can query the information from the DB. The reason is I have to create the Skydive DB first before deploying Skydive, otherwise it didnt work.

By the way, is there any way to hide password in YALM or YML file ??? I mean password (of the DB) should not be in the plain text.

apiVersion: v1
kind: ConfigMap
metadata:
  name: skydive-analyzer-config-file
data:
  skydive.yml: |
    stora

[2019-04-03 14:40] lebauce commented on #1738
@quangtamle If you use Kubernetes to deploy Skydive, you probably can use Secrets (https://kubernetes.io/docs/concepts/configuration/secret/) and not have the password in clear in the Kubernetes template. Now the password will still be stored in clear in the Skydive YAML because it has to be stored somewhere and we don't support any kind of keyring stuff.

[2019-04-03 14:54] lebauce commented on #1463
@jonnary Where do you get the skydive bin from ?

[2019-04-03 14:56] lebauce commented on #1463
@jonnary Regarding the discussion, a pure Go version of the libvirt bindings (such as the digitalocean ones) would be really nice. But right now, they don't fit the bill so it will really depend on someone stepping up and enhance the digitalocean library to support events.

[2019-04-03 15:17] quangtamle commented on #1738
Hi @lebauce ,

Thank you so much for your information !!! I will try it

[2019-04-03 15:19] pierrecregut commented on #1463
I first thought we could "vendor" a static libvirt but I failed.

Having a static libvirt limited to client communication seems very hard to get. libvirt is awfully monolithic and has a lot of dependencies. eg probably requires a static gnutls that is not available by default etc. So I am afraid that we will have to bite the bullet with the digitalocean library.

For the record, I tried to "extend

[2019-04-05 19:33] gamefundas opened #1762 "TCP and HTTP flow visualization"
I am a newbie when it comes to Skydive and networking in general. Have been trying to setup the tool for past few days on AWS EC2 and managed to get it up and running with defaults. Now when I look at the network traffic information on the dashboard I see all my docker applications interacting with each other, seems like Skydive was able to pull all the docker components. However other TCP and HTT

[2019-04-08 07:23] FarnazZ commented on #1694
- TOR_PORT --> *[Type=host]/eth0 in controller node solved my issue.

[2019-04-08 07:23] #1694 closed

[2019-04-10 05:08] jonnary commented on #1463
Build by source code myself

[2019-04-10 05:10] jonnary commented on #1463
May be one alternative way is to compile a low version libvirt in you ci.

[2019-04-10 07:19] lebauce commented on #1463
@pierrecregut @jonnary I just pushed this PR https://github.com/skydive-project/skydive/pull/1761 to address the problem

[2019-04-12 08:50] quangtamle commented on #1738
Hi @lebauce ,

I try to use neo4j instead of orientdb but it didnt work. Is it supported by skydive????

Thank you in advances

[2019-04-12 10:27] lebauce commented on #1738
@quangtamle Sorry, this is not supported.

[2019-04-12 10:47] quangtamle commented on #1738
@lebauce it's fine, thank you !!!

[2019-04-15 12:51] bwesemann commented on #1655
hi,
sorry for the late answer. i hope i can test it this or next week

[2019-04-15 16:54] lebauce commented on #1738
@quangtamle Do you think we can close this issue ?

[2019-04-15 16:54] lebauce commented on #1708
Please reopen if the fix does not work as attended.

[2019-04-15 16:54] #1708 closed

[2019-04-15 17:01] lebauce commented on #1681
So to enable the flows, you should define an environment variable named "SKYDIVE_OVS_OFLOW_ENABLE" with the value "true". @winsopc Could you please confirm that it works ? Thanks !

[2019-04-15 17:01] #1750 closed

[2019-04-15 17:02] lebauce commented on #1655
No problem. Thank you

[2019-04-15 19:51] quangtamle commented on #1738
Hi @lebauce , sorry, let me close it !!! Thank you

[2019-04-15 19:51] #1738 closed

[2019-04-16 08:03] bwesemann commented on #1655
![Screenshot_20190416_095411](https://user-images.githubusercontent.com/31445348/56192039-cec01380-602d-11e9-803c-26daed90291c.png)
this is a big step forward :)

can you add the following?
- link vm ovs port with ovn port
- link between the geneve/tunnel ports
- change the icons for ovn switch and router

let me know if you need any more info or help

best regards
Ben

[2019-04-16 08:09] bwesemann commented on #1655
and a link between the localnet port and the ovs port
maybe display the nat rules on the gateway router
and if somehow is possible display the current l3gateway

thanks

[2019-04-18 08:49] lebauce opened #1780 "Support AF_Packet fanout"

[2019-04-18 16:03] safchain commented on #975
Fixed: #1474

[2019-04-18 16:03] #975 closed

[2019-04-19 08:59] lebauce opened #1781 "Add dedicated metric for OpenFlow rules"
Right now, InterfaceMetrics is used for OpenFlow rules. Therefore we don't support the `FlowCount` attribute

[2019-05-02 13:57] quangtamle opened #1788 "Problem when running Skydive agent in another docker host"
Hello everyone,

I have 2 computer connected to a SW and I run analyzer and agent in computer 1 and send probes to monitor some containers in computer 2.

I tried to change the skydive config file like this:
agent:

  topology:
    docker:
      url: tcp://"ip-computer2":"port"
    probes:
      - ovsdb
      - docker
      - runc

  runc:
    run_path:
    - /var/run/runc
    - /var/run/runc-ctrs

[2019-05-02 15:19] quangtamle commented on #1788
Updating:
I can send the docker probe from computer 1 to computer 2 by changing a little bit config file

![image](https://user-images.githubusercontent.com/43220759/57086427-61370700-6cfe-11e9-82d6-dc13695d588d.png)

but the problem is it only shows computer 1 in the topology, no infomation of computer 2.

[2019-05-06 00:42] grooverdan opened #1792 "docker tag 0.22.0-linux-s390x/latest-linux-s390x is actually ppc64le"
http://soaphub.org/imagehub/?q=skydive&n=skydive&p=0

<pre>
docker inspect skydive/skydive:latest-linux-s390x
[
    {
        "Id": "sha256:42e9f304a582016d185d0035d1541810c9a0486f5a6aba8afdf19e0c019cacfd",
        "RepoTags": [
            "skydive/skydive:latest-linux-s390x"
        ],
        "RepoDigests": [
            "skydive/skydive@sha256:a3b11199356cf97b805f9de57c2e23f993b722f5ef4b964825

[2019-05-06 04:52] grooverdan commented on #1792
From: http://ci-logs.skydive.network/skydive-create-docker-image/builds/665/log.html

the BASE seems to have the value from the previous iteration of the loop:

FYI @hunchback

<pre>
Successfully tagged skydive/skydive:merge-linux-ppc64le
+ '[' merge == latest ']'
+ for arch in $ARCHES
+ case $arch in
+ TARGET_ARCH=s390x
+ TARGET_GOARCH=s390x
+ DEBARCH=s390x
+ BASE=ppc64le/ubuntu
+ docker_cross_bu

[2019-05-10 05:56] #1792 closed

[2019-05-10 19:54] TheHADILP opened #1800 "Question: How does the Web-Login work?"
I set up Skydive with docker-compose.
When I visit the WebUI I am already logged in.
I can log out but on the Login page I can enter any combination of username and password and get logged in.
Since I want to configure the WebUI to be accessible remotly, this is not really ideal.

Did I miss something? How do I configure the Authentication?

[2019-05-13 08:13] safchain commented on #1800
By default there is no authentication. In order to set it you have to fill some parameters in the config file:

First you need to specify a name for your authentication backend :
https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L55

Then you need to define this backend :
https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L401

Skydive suppo

[2019-05-14 13:29] safchain opened #1806 "Make packet injector a client standalone command"
The goal is to be able to use the packet injector code as a standalone tool. In that case you get the Skydive binary and you can generate packet without having to start an agent.

[2019-05-16 08:53] lebauce opened #1811 "Create OpenShift operator"

[2019-05-16 10:50] jonnary opened #1813 "bootstrap.min.3.3.5.js can be remove"
we have import bootstrap-3.3.7.min.js, so bootstrap.min.3.3.5.js can be removed?

[2019-05-16 10:55] lebauce opened #1814 "Allow modifying a running capture"

[2019-05-16 10:56] lebauce opened #1815 "Support multiple captures on one node"

[2019-05-16 14:43] #1629 closed

[2019-05-17 08:05] safchain commented on #318
Addressed by: #1805

[2019-05-17 08:07] safchain commented on #1762
Sorry for late reply... did you try to start a flow capture ?
http://skydive.network/tutorials/first-steps-2.html

[2019-05-21 19:20] hunchback opened #1821 "export flows to external entities"
NOTE: a topology exporter is out-of-scope for now

# Overview

We want to a set of components to facilitate the easy development (and deployment) or exporter.

What is an exporter? its' a component which takes information out of skydive and pushes it to an upstream system.

What does an exporter do? it setups the system (such as setting required flow captures), it listens to the flow events, it th

[2019-05-22 05:31] hunchback commented on #1821
@eranra - please help with requirements

[2019-05-22 09:04] safchain commented on #1821
I'm currently on a mechanism to export/send flow/packet to an external system on the agent side. I will push a draft soon

[2019-05-23 08:48] safchain opened #1824 "Add a mechanism to execute external command from a workflow"
This could be done like for the `sleep` function
https://github.com/skydive-project/skydive/blob/master/api/server/workflow_runtime.go#L62-L68

[2019-05-23 08:49] lebauce commented on #1824
One possibility would be to export a `execute` function in the same way than the `sleep` function : https://github.com/skydive-project/skydive/blob/master/api/server/workflow_runtime.go#L62-L68

[2019-05-23 08:51] lebauce commented on #1824
cc @andrekassis

[2019-05-23 10:11] eranra commented on #1824
@safchain @lebauce thanks ... we will share this with the students ...I agree this looks much less complicated than I originally thought,.

[2019-05-23 15:13] safchain opened #1827 "OpenFlow rule filters use different types for value which breaks history"
Bug exists for both native and using command line

[code]

[code]

[code]

[2019-05-23 15:57] pierrecregut commented on #1827
Weird indeed, the notion of integer does not even exist in jsonf parser.

[2019-05-23 17:00] gamefundas commented on #1762
I believe it captures only if the traffic is from a docker container. Other host traffic is not sensed by Skydrive. Please let me know if the understanding is correct.

[2019-05-24 08:14] safchain commented on #1762
You can start multiple captures. So if you start a capture on a host interface then the traffic we will seen by Skydive.

[2019-05-24 09:21] pierrecregut commented on #1827
In fact only native is affected. This is not surprising:
[code]
whereas in jsonof:
[code]
My guess is that if you change `Value: entry.GetOXMValue()`, into
[code]
and the same on the mask, the problem should vanish. But there may be other cases in actions.

[2019-05-24 09:40] lebauce commented on #1827
@pierrecregut It's true that storing only strings would solve the problem. However, it's costly/slower but the main problem is that, when querying a port number using Gremlin, the user needs to specify the port as the string which is error prone.

[2019-05-24 13:38] gant02 opened #1829 "Analyser crash with k8s probe on Openshift"
Hello,

I try to use the k8s probe in the latest skydive version with an openshift Cluster in v3.9 and the analyser crash if I set the 'k8s' parameters for SKYDIVE_ANALYZER_TOPOLOGY_PROBES environment variable. (no problem with the analyser when I unset it).

Here is the message:

panic: runtime error: invalid memory address or nil pointer dereference
--
  | [signal SIGSEGV: segmentation violation

[2019-05-24 14:10] safchain commented on #1829
@hunchback can you have a look at this one, seems to the cluster name change

[2019-05-24 15:11] hunchback commented on #1829
will check

On Fri, May 24, 2019, 17:10 Sylvain Afchain <notifications@github.com>
wrote:

[2019-05-24 18:20] mnbruce opened #1830 "Display openstack metadata for instances?"
Maybe this is already possible and my config is wrong, but it would be very useful to be able to see openstack server metadata (if applicable) when selecting an instance vertex.
The virsh uuid corresponds to the openstack server ID so it is possible to tie the two together.

e.g. the script below correlates the libvirt name, the uuid, and the openstack server name..

    #! /bin/bash
    IFS=$'\n'

[2019-05-24 19:46] hunchback commented on #1829
fixed in https://github.com/skydive-project/skydive/pull/1831

[2019-05-26 09:18] hwinkel opened #1833 "Kubernetes deployment in crash loop"
The Kubernetes deployment mentioned in the lates blog article:

http://skydive.network/blog/k8s-probe.html

goes into a continues CrashBackoffLloop. seems the Pod containing the ES:5 and Analyzer deployment comes not up.

`
│ 2019-05-26T07:00:00.869Z    INFO    analyzer/storage.go:85 newFlowBackendFromConfig    skydive-analyzer-75784754d8-hgtmc: Using elasticsearch (driver ela │
│ sticsearch) as f

[2019-05-26 12:31] hunchback commented on #1833
fixed by https://github.com/skydive-project/skydive/pull/1831

[2019-05-26 14:03] hunchback opened #1834 "ui: medium landscape topology getting Disconnected/Connect"
On a medium sized multi ICP cluster landscape (with k8s and physical artifacts) the UI topology view either does not come-up or it does but we get a series of Disconnect/Connect messages on the right hand side of the screen.

[2019-05-26 14:41] hunchback commented on #1834
![image](https://user-images.githubusercontent.com/2760739/58383288-80fbdb00-7fdd-11e9-9896-7829be1a8809.png)

[2019-05-27 06:43] safchain commented on #1834
did you try to increase this :
https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L29-L32

[2019-05-27 07:44] safchain commented on #1830
@mnbruce This is not currently directly possible but using the Neutron probe and the LibVirt probe you will get the vm-id on the interface of the VM.

[2019-05-27 14:06] gant02 commented on #1829
Solved, Thanks !

[2019-05-27 14:06] #1829 closed

[2019-05-27 16:07] eranra commented on #1834
Hi @safchain I did several tests with that, and it **does not work**. Maybe something I am doing wrong.

I ran: `helm install ibm-charts/ibm-skydive-dev --name=skydive-mcm --namespace=default --set env[0].name="SKYDIVE_HTTP_WS_PING_DELAY" --set-string env[0].value="20" --set env[1].name="SKYDIVE_HTTP_WS_PONG_TIMEOUT" --set-string env[1].value="120" --set image.tag=$SKYDIVE_IMAGE_TAG --tls`

this c

[2019-05-28 08:35] lebauce commented on #1724
Fixed by https://github.com/skydive-project/skydive/pull/1802

[2019-05-28 08:35] #1724 closed

[2019-05-29 09:41] #1788 closed

[2019-06-04 10:53] liranschour opened #1848 "Flow websocket client do not stream flows when capture is eBPF"
Flow websocket (URI path /ws/subscriber/flow) does not stream flows when capture type == ebpf.
Only on deletion of the ebpf capture, all flows are being transferred to the websocket client.

This behavior happens only for ebpf capture type.

[2019-06-05 13:22] lebauce commented on #1833
@hwinkel Could you please give the new image a try ? Thanks !

[2019-06-05 13:58] lebauce commented on #1751
Addressed by https://github.com/skydive-project/skydive/pull/1783

[2019-06-05 13:58] #1751 closed

[2019-06-05 15:13] lebauce commented on #1815
Addressed by https://github.com/skydive-project/skydive/pull/1816

[2019-06-06 13:06] lebauce commented on #1813
Fixed by https://github.com/skydive-project/skydive/pull/1851

[2019-06-06 13:06] #1813 closed

[2019-06-06 17:22] jonnary commented on #1813
Thanks

[2019-06-07 12:10] lebauce opened #1854 "Use next hop in packet injector"

[2019-06-08 04:02] cliffburdick opened #1855 "Port 8081 In Use"
Hi, I'm trying to deploy to a brand new Kubernetes cluster where there should be nothing running on 8081 on any node, but I get this when deploying the yaml:

[code]

I haven't modified the stock yaml at all. Is this a bug, or is it possibly mapping to a different host port?

Edit: It seems nginx is using that port. Changing the port in the yaml didn't work. Is there a way to change the agent's po

[2019-06-08 11:58] hunchback commented on #1855
you can try replacing 8081 with 18081:

[code]

[2019-06-08 14:17] cliffburdick commented on #1855
@hunchback I tried that to no avail. It still tries to open 8081.

[2019-06-10 07:48] lebauce commented on #1855
@cliffburdick Besides changing all `8081` references to `18081`, you need to add an environment variable here https://github.com/skydive-project/skydive/blob/master/contrib/kubernetes/skydive.yaml#L156, named `SKYDIVE_AGENT_LISTEN` with the value `127.0.0.1:18081`

[2019-06-10 15:51] cliffburdick commented on #1855
Thanks @lebauce. I'll give that a try.

[2019-06-11 09:04] lebauce commented on #1827
Addressed by https://github.com/skydive-project/skydive/pull/1859

[2019-06-12 14:50] #1827 closed

[2019-06-13 03:55] RunningXJ opened #1863 "Document address could not be opened"

[2019-06-13 07:48] safchain commented on #1863
Not sure to understand. Can you please elaborate ?

[2019-06-13 13:20] manuvaldi opened #1864 "OVS openflow rules - Actions goto_table-type not parsed in UI"
When I use ovsdb probe and click in rules in the UI, actions "goto_table" are not parsed.
Example:

[code]

![image](https://user-images.githubusercontent.com/10829687/59435491-00671800-8dee-11e9-9b1a-f4fb72da69fc.png)

Other example:
[code]
![image](https://user-images.githubusercontent.com/10829687/59435694-710e3480-8dee-11e9-9b54-71a5d791541b.png)

agent config (skydive.yml)
[code]
Tested with

[2019-06-13 13:51] hunchback commented on #1855
I created a PR to make all ports explicit and configurable (via sed): https://github.com/skydive-project/skydive/pull/1861

[2019-06-13 13:51] hunchback commented on #1855
@cliffburdick - any further updates ?

[2019-06-13 14:59] lebauce commented on #1864
@manuvaldi Indeed, we did not report `goto_table` instruction (but only the `resubmit` actions that is OVS specific). I just pushed a PR that adds a `GotoTable` attribute to the metadata. Any chance that you  could give it a try ? Thanks !

[2019-06-13 15:00] lebauce commented on #1864
@manuvaldi By the way, the GotoTable does not appear in the "actions" column of the Web UI but you should be able to jump to the table with a link in the "summary" column

[2019-06-14 01:53] RunningXJ commented on #1863
i got it! it's https

[2019-06-14 02:01] RunningXJ opened #1866 "When I execute the make operation error, can you help me see it?"
The following is the error message.

 Remotes failed for:
	Failed for "golang.org/x/crypto/bcrypt" (failed to ping remote repo): unrecognized import path "golang.org/x/crypto/bcrypt"
	Failed for "golang.org/x/crypto/blowfish" (failed to ping remote repo): unrecognized import path "golang.org/x/crypto/blowfish"
	Failed for "golang.org/x/crypto/cast5" (failed to ping remote repo): unrecognized impor

[2019-06-14 06:36] safchain commented on #1863
I assume this is the Skydive WebUI you tried to open ? How did you deploy it ? what is your confirguration file ? how did you generate the certificate ? Anything that could help me to reproduce. Thanks

[2019-06-14 06:38] safchain commented on #1866
Can you please describe a bit your golang setup ? OS Version ? did you follow this documentation : http://skydive.network/documentation/build
thanks

[2019-06-14 06:46] RunningXJ commented on #1866
thanks! I slove it! I download binary

[2019-06-14 06:48] RunningXJ opened #1867 "Can routers and switches be discovered in the network topology?"
By the way, I run allinone mode on one physical machine, open a virtual machine on another machine, and also run allinone mode. Why in the virtual machine, open the browser and only display one machine, can't find another An agent

[2019-06-14 07:40] safchain commented on #1867
All the agents need to have the list of the analyzer set in their configuration file:

https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L175

A usual deployment is

- one analyzer
- multiple agents

The standalone mode is there mostly for testing purpose, for a single node

[2019-06-14 07:50] #1866 closed

[2019-06-14 07:50] #1863 closed

[2019-06-14 10:06] RunningXJ commented on #1867
thanks! Can routers and switches be discovered in the network topology?

[2019-06-14 10:11] RunningXJ commented on #1867
I started with a binary file, then do I need to write the configuration file myself? The contents of the configuration file must be all there, or just add the configuration you want to use.
Can a file like this be used?
Analyzers:
   - 127.0.0.1:8082
Agent:
192.168.4.18:8081

[2019-06-14 10:13] RunningXJ opened #1868 "What protocol is the network topology based on?"
Can routers and switches be discovered?

[2019-06-14 10:20] safchain commented on #1867
adding just what you need is enough. As an example, if you have 2 agents(host) and 1 analyzer

the configuration of the agents will be

[code]

so same config file for all the agents. Of course IP/Port of the analyzer have to be reachable by the agents.

For the router/switch discovery, I would say yes if they support LLDP. In that case the LLDP probe as to be enabled.

https://github.com/skydive-

[2019-06-14 10:23] safchain commented on #1868
replied in #1867

[2019-06-14 10:23] #1868 closed

[2019-06-14 10:38] RunningXJ commented on #1867
thank for your time.
i wrote like this:

analyzers:
          - 192.168.4.14:8082

agent:
          - 192.168.4.15:8081
auth:
   api:
     backend: noauth
cluster:
     username: admin
     password: 123456

is something wrong?
When I start it shows，	ERROR	agent/agent.go:45 glob..func1	xj-virtual-machine: Can't start Skydive agent: Authentication type unknown or backend not defined for:

[2019-06-14 10:51] RunningXJ commented on #1867
if i just need to wrote:
analyzers:
- 192.168.4.14:8082

agent:
- 192.168.4.15:8081

[2019-06-14 11:25] RunningXJ commented on #1867
I executed the skydive analyzer with a host.
Other agents (host) executed skydive agent -c skydive.yml
The contents of the configuration file are as follows:
Analyzers:
   - 192.168.4.120:8082

But it prompts me:
ERROR websocket/client.go:557 (*Client).Start.func1 controller: Unable to create a WebSocket connection ws://192.168.4.120:8082/ws/agent/topology : dial tcp 192.168.4.120:8082: connect: C

[2019-06-14 12:27] lebauce commented on #1867
@RunningXJ I suggest you first try to peer your agent and your analyzer together, then later set up the authentication.

Regarding the `Connection refused` error, by default the analyzer listens only on 127.0.0.1:8082
So you need to set the following configuration for the analyzer :
[code]

[2019-06-14 14:57] RunningXJ commented on #1867
thanks！I will try it!

[2019-06-14 16:40] cliffburdick commented on #1855
@hunchback that worked. Thanks! Not sure what happened the first time.

[2019-06-14 16:40] #1855 closed

[2019-06-15 02:19] RunningXJ commented on #1867
thank you very much ! it works！ BTW, when I want to discover routers and switches, I assume that I know that router switches support lldp, so what configuration do I need to do for routers and switches? Or it can be found automatically

[2019-06-15 03:45] RunningXJ commented on #1867
When I start the agent on two hosts, why are the two nodes not connected together in the network topology? They are on the same subnet, one is 192.168.4.14 and the other is 192.168.4.15

[2019-06-17 10:26] lebauce opened #1871 "Allow `Has` step on GraphTraversaslValues"
That would allow things like :
G.V().Values("Captures").Has("ID", "123", "State, "active")

[2019-06-17 11:36] manuvaldi commented on #1864
Hi @lebauce, I have seen your commit related (https://github.com/skydive-project/skydive/commit/f51b61fb0967b4bd93be95616865d53eeb160790). Seem to print out actions gototable now. Thanks a lot!!

![image](https://user-images.githubusercontent.com/10829687/59601127-6cee5980-9103-11e9-8023-0a4788c3424f.png)

Just one thing, there seem to be a problem when there is only 1 action. A ban icon appears b

[2019-06-17 13:22] lebauce commented on #1867
Did you enable the `lldp` probe as suggested by @safchain ?
[code]

If so - and if the agents are on the same switch of course -, agents should be linked though a switch (displayed in orange in the Web UI, as inhttps://user-images.githubusercontent.com/4539421/46472598-04ae5080-c7de-11e8-8824-9158f8633a26.png)

[2019-06-17 13:26] lebauce commented on #1867
Skydive does not link agents if they are on the same L3 network. You need to use LLDP or use the `fabric` probe :
[code]

You need to replace `agent1` and `agent2` with the respective hostnames of your agents, and `eth1` with the name of the network interface connected to the switch

[2019-06-18 02:21] RunningXJ commented on #1867
If I enable the lldp probe, then do I only need to do the following configuration on the node where the agent is runing:
for example:
Analyzers:
   - 192.168.4.120:8082
Agent:
   Topology:
     Probes:
      - lldp

[2019-06-18 03:02] RunningXJ commented on #1867
BTW，if I enable the lldp probe,can I also discover the router in the topology?
Because lldp is a link layer protocol, it is found that most of them can configure lldp for the switch, but rarely see to configure the router.

[2019-06-18 08:07] lebauce commented on #1854
https://github.com/skydive-project/skydive/pull/1872

[2019-06-18 08:16] lebauce commented on #1871
https://github.com/skydive-project/skydive/pull/1872

[2019-06-19 05:38] dubek opened #1873 "Websocket client sends TextMessage even for binary payloads"
The Websocket protocol distinguishes between text data frames and binary data frames:

[code]
(see https://tools.ietf.org/html/rfc6455#section-5.6)

However, Skydive's Websocket client always sends messages as TextMessage, even though it sometimes sends binary payloads (protobuf-encoded messages):

https://github.com/skydive-project/skydive/blob/master/websocket/client.go#L283

(also the comment o

[2019-06-19 07:32] safchain commented on #1676
Addressed by #1783

[2019-06-19 07:32] #1676 closed

[2019-06-19 07:34] #318 closed

[2019-06-19 07:36] safchain commented on #806
Closing as these views have been removed

[2019-06-19 07:36] #806 closed

[2019-06-19 07:36] safchain commented on #986
Closing it for now as it seems it has been fixed recently

[2019-06-19 07:36] #986 closed

[2019-06-19 07:40] safchain commented on #1867
As stated by @lebauce routers(L3) won't be reported you need to provide the topology using the configuration :
https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L84

another solution is to use Ansible :
http://skydive.network/blog/ansible-library.html

or the Node/Edge API :
http://skydive.network/blog/topology-rules.html

[2019-06-19 08:41] bwesemann commented on #1655
hi,

whats the status? do you need more infos or help?

br
ben

[2019-06-19 11:43] #1871 closed

[2019-06-19 14:40] lebauce commented on #1864
@manuvaldi Thank you for trying the fix. Regarding the wrong "drop" action" : we were adding a "drop" action - that don't really exist in the rule itself but it is added by the ovs-ofctl command line - when the action list was empty. I changed this behaviour to add it only if there is no action, no write action and no goto_table.

For the "???" characters, we were not handling the output port "con

[2019-06-19 16:22] #1815 closed

[2019-06-20 02:06] RunningXJ commented on #1867
For example, the switch needs to support lldp before it can be probed. What protocol does the router need to support?

[2019-06-20 10:58] lebauce commented on #1806
Implemented in https://github.com/skydive-project/skydive/pull/1835

[2019-06-20 10:58] #1806 closed

[2019-06-21 07:17] safchain commented on #1873
Hi, thanks for reporting this, it seems to be a remaining piece of code before we partially move to protobuf. I guess now it should always be binary.

[2019-06-21 07:18] safchain commented on #1592
Any news on this or can this be closed ?

[2019-06-21 08:07] lebauce commented on #1873
Addressed by https://github.com/skydive-project/skydive/pull/1879.
@dubek Could you please check if it fixes the problem ? Thanks !

[2019-06-21 08:47] manuvaldi commented on #1864
it looks like pretty well @lebauce

![image](https://user-images.githubusercontent.com/10829687/59910192-b8f61280-9411-11e9-97cf-312783bc388e.png)

![image](https://user-images.githubusercontent.com/10829687/59910199-bdbac680-9411-11e9-8f00-c9cf90ba1f57.png)

Thanks a lot!

[2019-06-21 08:59] RunningXJ commented on #1867
I have one machine for 192.168.4.14, another machine for 192.168.4.15, switch for Cisco, SG92-24. This switch has LLDP enabled. My agent configuration is as follows:
Analyzers:
   - 192.168.4.120:8082
Agent:
   Topology:
     Probes:
       - lldp\
The analyzers are configured as follows:
Analyzer:
          Listen: 192.168.4.120:8082
Agent:
   Topology:
      Probes:
       - lldp

Why is there n

[2019-06-21 09:21] safchain commented on #1864
@manuvaldi Thanks for the feedback, just merged

[2019-06-21 09:36] lebauce commented on #1867
Without the logs, it's a bit difficult. Can you set the logging level to debug with:
[code]

and paste the logs in the issue ? Thanks

[2019-06-22 02:08] RunningXJ commented on #1867
The following is the analysis node：
![](https://i.loli.net/2019/06/22/5d0d8cb7a7e7425036.jpg)

The following is the agent node：
![](https://i.loli.net/2019/06/22/5d0d8d9267dbc87653.jpg)

[2019-06-23 06:46] dubek commented on #1873
Indeed the issue is solved with the latest Skydive. I now get binary payloads when receiving messages from the agent (protobuf) if I "replace" the analyzer, but I still get text payloads (JSON) when subscribing to Skydive's analyzer's `/ws/subscriber/flow` websocket, as expected.

Thanks!

[2019-06-24 07:27] lebauce commented on #1867
@RunningXJ The logs are incomplete. Screenshots are not the best way to send logs. Could you put the complete logs as text ? Thanks

[2019-06-24 07:30] lebauce commented on #1873
Thanks for testing !

[2019-06-24 07:30] #1873 closed

[2019-06-24 11:40] safchain commented on #1800
Closing it for now, please re-open if needed

[2019-06-24 11:40] #1800 closed

[2019-06-25 08:32] RunningXJ commented on #1867
The last question has been resolved. I don't know much about this fabric network architecture, but according to online information, this TOR, or the concept of the switch? I mean whether it supports the discovery of routers for Layer 3 networks? Thanks

[2019-06-25 09:23] lebauce commented on #1867
So the LLDP probe is now working ? So you should now have a node for the Cisco switch with 2 ports attached to this switch. Then each Skydive agent should be linked to one of these ports. Right ?

Skydive does not support any L3 discovery. Only L2 discovery through the LLDP probe. If you have 2 agents that are not connected to the same L2 network, you can use the `fabric` probe as stated in my pre

[2019-06-25 09:50] RunningXJ commented on #1867
yes,it works!
The two nodes I mentioned earlier can already be connected together as follows:
![](https://i.loli.net/2019/06/25/5d11ed463dce591800.jpg)
The discovery of the L3-network will not be added in the future. In addition, I am currently trying to find an open source or free tool to discover the physical network environment and form a visual network topology. Do you have any suggestions?

[2019-06-25 09:53] lebauce commented on #1867
There is a chance that L3 discovery will be added in the future (we already discussed about it but I can't tell you when it will be done).

[2019-06-25 10:02] RunningXJ commented on #1867
Hahaha, I will continue to pay attention, can you give me some suggestions for finding tools? Thank you

[2019-06-26 14:53] JasonKeirstead commented on #1821
Hi is there any update on this work @safchain @hunchback

[2019-06-26 15:24] safchain commented on #1821
Yes there is, We added a way to export flows from agent to an external endpoint. Currently we support two protocol, ErspanII and NetFlow v5

https://github.com/skydive-project/skydive/commit/fe93d39c7a010229d2102e307f9c8fa0ffabd998#diff-e24b0d6fee86a1b5e1c7d595589ee728
https://github.com/skydive-project/skydive/commit/195194d64461f10aa480b78c236383f9486246ae#diff-7f6d241540cfd5c11544391064951df8

[2019-06-26 16:57] JasonKeirstead commented on #1821
Thanks @safchain, I browsed the PR.

Could these be made pluggable somehow to make it easier to add custom exporters? Right now they are listed right in the code. Thoughts?

[2019-06-27 07:58] hunchback commented on #1833
I believe issue has been addressed

[2019-06-27 07:58] #1833 closed

[2019-06-27 08:10] hunchback opened #1888 "Incorporate event information from sysdig"
sysdig (via its' underlaying libraries) is an alternative to strace/dtrace which captures a wide range of events: network, file, etc.

https://sysdig.com/blog/sysdig-vs-dtrace-vs-strace-a-technical-discussion/

we may consider  a representation along the lines of what has  been done in socketinfo., If so then we would represent the information as topology in which a process and a file are graph no

[2019-06-27 12:42] davidhIBM commented on #1888
Quick first comments...
There are security significant and important use cases for such collection as I will detail below. From a security standpoint, ideally one will have a single telemetry system that will be extendiable and collect all the necessary telemetry needed for security analytics. From an admin point of view, this also allows deeper understanding of the endpoints of the network (the p

[2019-06-27 12:44] davidhadas commented on #1888
Quick first comments...
There are security significant and important use cases for such collection as I will detail below. From a security standpoint, ideally one will have a single telemetry system that will be extendiable and collect all the necessary telemetry needed for security analytics. From an admin point of view, this also allows deeper understanding of the endpoints of the network (the p

[2019-06-27 20:42] RobertJBarron opened #1889 "Have an API call that will render a PNG of a graph"
Currently, the only way to share a skydive graph requires the user to login to skydive and render the graph again in realtime.

This makes is more difficult to share a specific graph easily.

Use cases - embed the png in a mail or in a chat platform like Slack.
Example of use in another application:
https://play.grafana.org/render/d/000000029/prometheus-demo-dashboard?orgId=1&refresh=5m
vs
https:/

[2019-06-28 07:24] lebauce commented on #1889
There is a way to retrieve the graph using the DOT format :
`skydive client query --format dot G > graph.dot`

Then, you can use `graphviz` to convert it to a PNG :
`dot -Tpng graph.dot -o outfile.png`

However, it won't look as (nice as ?) with the WebUI

[2019-06-28 10:02] manuvaldi opened #1890 "UI OVS rules viewer - bad behaviour"
In the UI, when you click in rules of a OVS bridge. If you dive into other table different than table 0, it comes back to table 0 suddently. This behaviour is constant.

I'm testing with docker images

Las version tested: 0.23.0-6af6f6fbda73

Last version without this behaviour: 0.22.0-f536c665db40
First version with this behaviour: 0.22.0-70ba4ca52b22

[2019-06-28 10:42] RobertJBarron commented on #1889
Exactly :)

You'd lose a lot with this back door method.

[2019-06-29 08:00] hunchback commented on #1888
@davidhadas being able to identify changes in a processes state suggests we may want to use the topology representation. Can you elaborate what metrics may be relevant? (such as the number of open file descriptors)

[2019-06-29 08:25] hunchback commented on #1821
@JasonKeirstead - there is an initial implementation of export pipeline infra in place. (its still missing some of the listed phases above such as capture - so you must setup a capture before operation and the pipeline will currently get all captured flows (so missing server-side filtering).

You may want to have a look at `contrib/pipelines/dummy` which is a trivial pipeline which listens to all

[2019-06-30 15:45] eranra commented on #1889
@lebauce can we use iFrame and Skydive launch-in-context ?

(https://community.grafana.com/t/text-box-iframe/11663)

BTW: For new versions of grafana need to configure: https://grafana.com/docs/installation/configuration/#disable-sanitize-html
(so this will not work out of the box with play.grafana.org which uses latest grafana)

[2019-07-01 09:05] choleraehyq commented on #201
Hi @nlewo , is there any update about this?

[2019-07-01 09:20] nlewo commented on #201
@choleraehyq No, but I finally made it in a python client https://github.com/nlewo/skydive-shell !

[2019-07-01 13:09] safchain commented on #1890
Thanks for reporting this issue. Indeed the view is reset when we receive event from ovs. This PR #1892
 should fix the problem.

[2019-07-01 14:26] manuvaldi commented on #1890
Cool!. I look forward to see it. Thanks one more time

[2019-07-02 18:30] developeer opened #1895 "Failure to Deploy default skydive.yaml - agents running but not ready"
deployed skydive on 2 master 2 worker cluster running kubernetes 1.14.1 and ubuntu 18.04.2.
We deployed skydive.yaml from contrib/kubernetes

The application is deployed.  The analyzer is running 2/2 but the agents are running but not ready.
Once of the agents is in CrashLoopBackOff.

error from agent.

ERROR    probes/probes.go:104 NewFlowProbeBundle    kube-worker7: Failed to create ovsnetflow p

[2019-07-03 07:38] safchain commented on #1895
Hi, the error reported is not fatal, can you please paste the full agent log, thanks.

[2019-07-04 12:51] dubek opened #1897 "Wrong use of hashing in probe/ebpf/flow.c"
In `probe/ebpf/flow.c` (and `flow-gre.c`) Skydive uses FNV hash in order to create a unique per-flow key which is used as the key for the flow table exposed to the agent.

However, it seems that in various places in the code there are problematic updates of the hash value. For example, in function `fill_transport` we have:

[code]

Few problems here:

1. According to the FNV [algorithm](https://en

[2019-07-05 07:09] safchain commented on #1897
@dubek Thanks for reporting this. @nplanel submitted a WIP #1898 to fix this.

[2019-07-05 11:47] dubek commented on #1897
Thanks, I'll take a look next week.

On Fri, Jul 5, 2019, 10:09 Sylvain Afchain <notifications@github.com> wrote:

[2019-07-08 20:21] ekaley commented on #1895
hey,

here are the agent logs were seeing errors in.

Using kubernetes 1.14.1 with privileged mode enabled on the api server and kublets

[code]

[2019-07-08 20:22] developeer commented on #1895
@ekaley will provide more logs on issue.

[2019-07-08 20:22] ekaley commented on #1895
what are the prereqs for the base OS to have for packages needed for skydive, do we need openvswitch installed on the base image? Ubuntu 18.04 or 16.04?

[2019-07-09 14:35] quangtamle opened #1901 "Problem with "make docker-image""
Hello everyone,

I want to make a docker-image of skydive and i use "make docker-image" then I have this problem:

make[1]: Leaving directory '/home/tamlq/go/src/github.com/skydive-project/skydive'
cp $GOPATH/bin/skydive contrib/docker/skydive.$(uname -m)
cp: cannot stat '/home/tamlq/go/bin/skydive': No such file or directory
make: *** [Makefile:631: docker-image] Error 1

I look into the Makefile

[2019-07-09 15:21] eranra commented on #1821
Hi @JasonKeirstead for what we just talked on the phone about export of pure/raw packets using Skydive ... best will be to look on [1] http://skydive.network/tutorials/first-steps-7.html#keep-original-packets.

From the text " ... that way Skydive acts as a distributed tcpdump ... "

I will ask David to find more time to talk ... but this text should be useful for you (hopefully).

What @hunchback

[2019-07-09 17:49] ekaley commented on #1895
[code]

this is the error from the kubectl describe on the agent pod
Nothing else is using or running on 8081 on this node, host or cluster

[2019-07-10 08:57] safchain commented on #1895
@ekaley The OVS errors are not fatal errors it shouldn't the problem. @hunchback any clue on this ?

[2019-07-10 09:08] safchain commented on #1901
I just tested using master branch and it worked. I suspect you have a compilation error in `static` mode.

please test with `make static`

BTW the Makefile targets order is as follow:

`make docker-image` -> `docker-image` -> `static` -> `skydive.clean` -> `compile.static`

So the build is after the `clean` one

[2019-07-10 09:09] safchain commented on #1864
Closing it as merged, thanks again @manuvaldi

[2019-07-10 09:09] #1864 closed

[2019-07-10 09:09] safchain commented on #1854
Merged

[2019-07-10 09:09] #1854 closed

[2019-07-10 09:11] safchain commented on #1821
@eranra I'm about to write a blog post but NetFlow is using internally a flow table so it is about flow while erspan is about raw packet within GRE packet

[2019-07-10 09:51] quangtamle commented on #1901
Thank you @safchain !!!
you're right ! I missed libc++ but after i install libc++, i meet another problem. Could you help me take a look at it ???

![image](https://user-images.githubusercontent.com/43220759/60959730-04ad2500-a309-11e9-8fe5-fb3728a1b489.png)

Thank you in advances

[2019-07-10 10:15] safchain commented on #1901
What distribution are you using ? Just to be sure you know we build a skydive version each commit
https://hub.docker.com/r/skydive/skydive/tags

Cross compiling could help you too in resolving the dependencies issues. Please take a look at the script we use in order to build docker images in our CI.

https://github.com/skydive-project/skydive/blob/master/scripts/ci/create-docker-image.sh

[2019-07-10 11:57] eranra commented on #1821
@safchain :+1:

[2019-07-10 15:23] quangtamle commented on #1901
My distribution is Ubuntu 18.10. I followed "create-docker-image.sh" and I faced some problems:

![image](https://user-images.githubusercontent.com/43220759/60981511-c3cc0500-a336-11e9-885c-1834fcb2c8df.png)
I dont know why it can not install [libxml2-dev](https://github.com/skydive-project/skydive/blob/master/contrib/docker/Dockerfile.compile#L16) then I try to change into only libxml2 like in th

[2019-07-11 09:34] safchain commented on #1821
@Jaganathancse @eranra to elaborate a bit more about what we call "raw packets", when you start a capture requesting for keeping "raw packets" it will attach the original packets (10 max) to the flow. As a flow is forwarded to the analyzer and then to the datastore they are part of the WebSocket communication. A subscriber to the Flow websocket endpoint will see them. Please note that it is possib

[2019-07-11 11:08] JasonKeirstead commented on #1821
Is that maximum of 10 configurable to be a larger number?

[2019-07-11 15:22] ekaley commented on #1895
Ive tried minikube and a CFCR kubernetes cluster deployment, still get connection refused on both deployments when trying to get the api status.  Analyzer comes up but none of the agents show ready

[2019-07-11 16:24] safchain commented on #1901
We just merged a fix,
https://github.com/skydive-project/skydive/commit/bf59cb88b053be5039d11f394d7e0846fac30ae5
something change yesterday it seems. Can you give a try ?

[2019-07-12 08:39] quangtamle commented on #1901
Hi @safchain
With the new skydive, i tried "create docker image" in CircleCI and it worked.

Thank you so much

[2019-07-12 08:39] #1901 closed

[2019-07-16 14:29] developeer commented on #1895
we are using k9s to look at the logs.

![k9s-pods](https://user-images.githubusercontent.com/9946626/61301525-0e73d400-a7b2-11e9-85af-f37f44f1e739.png)

the skydive agents crash and do not startup.  The logs are not useful.  (which I sent above).  This is a basic k8s cluster.  2 master 2 workers.

![k9s-agent-describe](https://user-images.githubusercontent.com/9946626/61302113-3c0d4d00-a7b3-11e9-9

[2019-07-16 14:41] safchain commented on #1895
Without complete agent log it will be hard to help on this... As soon as you see

[code]
in the log the agent should be available even if there is error in the logs. If the agent is not available or crash something should be present in the logs like a stack trace

[2019-07-16 14:50] developeer commented on #1895
We can't access logs once the pod goes into crashloop.  The only thing we can get is the describe.

[2019-07-16 14:59] developeer commented on #1895
![k9s-agent-log](https://user-images.githubusercontent.com/9946626/61305213-6d3c4c00-a7b8-11e9-9d20-f314c625a35c.png)

this is the log from agent pod before crashloop

log from analyzer

![analyzer-log](https://user-images.githubusercontent.com/9946626/61305405-c310f400-a7b8-11e9-9dd1-15cdbe6c618d.png)

[2019-07-16 15:28] safchain commented on #1895
Per the agent log it seems that the agent is properly stopped, no crash here. could it be the healthcheck that stop the agent ? could you try to remove it ?

[2019-07-16 15:32] developeer commented on #1895
remove the livenessProbe from agent yaml and redeploy?

[2019-07-16 15:34] safchain commented on #1895
yes

[2019-07-16 15:44] developeer commented on #1895
Changed the yaml and redeployed.  This is the log.

![k9s-agent-logs-2](https://user-images.githubusercontent.com/9946626/61308828-10905f80-a7bf-11e9-8633-7201dc47e793.png)

[2019-07-16 18:03] developeer commented on #1895
We have installed the default skydive.yaml from the site on two different clusters with the same result.  I have given all of the logs possible.  The agents never get to ready state and crashbackupoff after several minutes.  We are running k8s 1.14.4 in a 2 master 2 worker cluster on vsphere.  It is a default setup of kubernetes.  Nothing special.

[2019-07-18 08:15] safchain commented on #1895
The last log report that the agent is started and connected to the analyzer. Without the livenessProbe thing you should have it reported as "started" at least for few minutes if it crash after awhile.  Can you try with removing the

[2019-07-18 13:20] developeer commented on #1895
will do.

[2019-07-18 13:39] developeer commented on #1895
it is running now.  the analyzer is getting this warning.  Looks like a problem to me.

│ 2019-07-18T13:38:13.830Z    WARN    k8s/probe.go:189 logOnError    skydive-analyzer-6fdc988d6f-nd5hd: github.com/skydive-project/skydive/topology/probes/k │
│ 8s/cache.go:95: Failed to list *v1.Pod: pods is forbidden: User "system:serviceaccount:kube-system:skydive-service-account" cannot list resource "pods"

[2019-07-18 14:17] safchain commented on #1895
@hunchback can you please help on this ?

[2019-07-19 10:46] safchain commented on #1895
It seems to be a permission issue, like Skydive not allowed to access the kubernetes API. I think there a cluster configuration do apply in order to allow Skydive accessing.

You can also disable the Kubernetes probe removing this line
https://github.com/skydive-project/skydive/blob/master/contrib/kubernetes/skydive.yaml#L52

It will anyway get the container detected with the k8s labels but withou

[2019-07-19 10:48] safchain commented on #1890
Closing it for now as a fix has been merged and is now part of a release. Feel free to re-open if needed. Thanks again for supporting Skydive :)

[2019-07-19 10:48] #1890 closed

[2019-07-19 10:49] safchain commented on #1834
Can we close this one ? It seems that we fixed the issue with the filtering fix ?

[2019-07-23 11:16] KalmanMeth opened #1921 "secadvisor fails to connect with latest build"
@hunchback @safchain
contrib/pipelines/secadvisor/main.go was changed in commit 77a90a68c668d75577004c306c9758982b965763 to use cfg := viper.New() calling then to LoadConfig() instead of calling to InitConfig() and building on top of regular skydive config.
secadvisor uses the skydive client interface (via analyzers: xxxx:8082 in the secadvisor.yml) to lookup information about various types of obj

[2019-07-23 11:31] KalmanMeth commented on #1921
Suggested fix: Restore call to InitConfig, and in the call to NewSubscriberFromConfig change the paramter to:  NewSubscriberFromConfig

        if err := config.InitConfig("file", []string{defaultCfgFile}); err != nil {
                logging.GetLogger().Errorf("Failed to initialize config: %s", err)
                os.Exit(1)
        }

        if err := config.InitLogging(); err != nil {

[2019-07-23 12:15] safchain commented on #1921
I don't think we should use the skydive config parser to parse the secadvisor config file. If some default values are not filled then it should be done in the secadvisor side. There log of Skydive default things that are unrelated to secadvisor. Going to have a look at what is missing...

[2019-07-23 12:19] safchain commented on #1921
the `analyzers` param is missing in the default config file:
https://github.com/skydive-project/skydive/blob/master/contrib/pipelines/secadvisor/secadvisor.yml.default

[2019-07-23 12:33] safchain commented on #1921
here a potential fix: #1922, please tell me if correct or not

[2019-07-23 13:14] KalmanMeth commented on #1921
I had added the analyzers parameter into my config file, it was found by the code, but it was not merged into the global config file. Then when secadvisor tried to connect to the analyzer, the address was not found.

[2019-07-23 13:20] hunchback commented on #1921
@safchain - i think we do want to use the defaults in skydive.yml as secadvisor (and other pipelines) make use of skydive modules (such as for creating a REST Client to the analyzer) these modules assume skydive default configuration values, thus we should restore this behavior.

[2019-07-23 13:23] hunchback commented on #1921
@KalmanMeth was using PR https://github.com/skydive-project/skydive/pull/1914 which has the analyzers parameter set.

[2019-07-23 13:24] safchain commented on #1921
@hunchback there is a lot of unrelated thing in the config file of skydive, relocation, agent things, storage... why using something for only an endpoint address

[2019-07-23 13:27] safchain commented on #1921
@hunchback moreover what about adding secadvisor defaults ? you will have to put default in the common.config file ?

[2019-07-23 16:00] hunchback commented on #1921
Currently the pipeline makes use of:
- host_id (for websocket client id)
- analyzers (for REST client to access analyzer)
Suggesting that pipelines will need more skydive configuration parameters as they evolve and depend or additional skydive modules ... I would hate to duplicate parameters (and defaults and relocation) in pipeline codebase.

So

[2019-07-23 16:02] hunchback commented on #1921
I agree and will address this within pipelines/core (if needed I will generalize some of the functions in config).

[2019-07-23 16:04] hunchback commented on #1921
@KalmanMeth - I have updated/fixed PR
https://github.com/skydive-project/skydive/pull/1914
Please try.

[2019-07-23 16:05] eranra commented on #1355
Update: there is a nice way to expose swagger API for projects as github pages ... maybe there is a way to automatically generate this from Skydive golang code so this can be part of CI/CD and we will have the full Skydive API available to users .

@safchain @nplanel

Link: https://peterevans.dev/posts/how-to-host-swagger-docs-with-github-pages/

Example of how it looks in the end: https://peter-e

[2019-07-23 16:11] eranra commented on #1834
@safchain YES ... it was solved ... thanks for the help/support :-)

[2019-07-23 16:44] safchain commented on #1921
currently you are using 2 parameters only for REST client, 90% of the defaults are useless and will remain useless (agent probes, etc.). From my point of view a subscriber should be as much as possible decoupled from Skydive. I do not see the point of keeping using something for hypothetical future usage. That said, that is in contrib, you can use the Skydive default if you want

[2019-07-23 20:50] hunchback commented on #1921
@safchain - the problem is that the Skydive code takes these parameters implicitly from the default skydive configuration; and while we may set only 'host_id' we are making use of default of 'http.ws.queue_size' :

[code]

[2019-07-24 07:11] KalmanMeth commented on #1921
@hunchback The updates work for me.

[2019-07-24 08:07] #1834 closed

[2019-07-24 08:38] bwesemann commented on #1655
any news?

[2019-07-24 10:04] #1921 closed

[2019-07-24 15:44] eranra opened #1924 "Documentation: Add blog post on performance evaluation with ebpf"
Need to add to skydive.network (or a different public facing location) documentation based on the information that @andrekassis and @safchain created that is currently available here:

https://github.com/skydive-project/skydive.network/blob/8197fe853c6020b33a8b962ad3a14ec5bec64073/documentation/skydive-with-ebpf.md

[2019-07-25 12:22] sa-cloud opened #1925 "Unable to send message to agent ERROR"
I use helm to install the skydive latest version on an k8s cluster v1.13 with the configuration below:

image:
    repository: cognetive/skydive
    tag: latest
env:
    # For debug purposes
    - name: SKYDIVE_LOGGING_LEVEL
      value: "INFO"

    # ANALYZER_STARTUP_CAPTURE_GREMLIN invoke at startup capturing in selected nodes
    - name: SKYDIVE_ANALYZER_STARTUP_CAPTURE_GREMLIN
      value: "G.

[2019-07-25 13:21] safchain commented on #1924
Just rebased the blog post and merged it

[2019-07-25 13:21] #1924 closed

[2019-07-25 13:25] safchain commented on #1889
Another approach could be to use the topology export/import

[code]

You can import to an external analyzer. All topology data will be import and one can use the WebUI.

[2019-07-28 16:49] hunchback commented on #1925
@lebauce - note that `cognetive/skydive:latest` is the same as `skydive/skydive:latest`.

[2019-07-28 17:03] hunchback opened #1930 "pipeline: building skydive dependencies"
currently to build a pipeline one need to run:

[code]

Note that there we can't skip the `make` as the required skydive modules require running of:
- easyjson
- common.Getter code generation
- etc.

So currently if we would want to main a pipeline outside of skydive we would have to build skydive and include some of the generated files ... is there an alternative to this?

For example we could ma

[2019-07-28 17:03] hunchback commented on #1930
@eranra / @liranschour - please elaborate ...

[2019-07-29 13:28] safchain commented on #1925
Is there any other error before ? can you send a full log ?

[2019-07-29 13:33] safchain commented on #1930
`make contrib.objectstore` handle dependencies

[2019-07-29 19:57] lebauce commented on #1355
Addressed by https://github.com/skydive-project/skydive/pull/1935

That should give us something like : https://lebauce.github.io/skydive.network/swagger/

[2019-07-30 07:08] sa-cloud commented on #1925
[logs-from-skydive-analyzer-in-sa-collect-ibm-skydive-dev-analyzer-6d757c6d-zrzxq.txt](https://github.com/skydive-project/skydive/files/3445559/logs-from-skydive-analyzer-in-sa-collect-ibm-skydive-dev-analyzer-6d757c6d-zrzxq.txt)

[2019-07-30 07:13] sa-cloud commented on #1925
[logs-from-skydive-agent-in-sa-collect-ibm-skydive-dev-agent-lb5lb.txt](https://github.com/skydive-project/skydive/files/3445575/logs-from-skydive-agent-in-sa-collect-ibm-skydive-dev-agent-lb5lb.txt)

[2019-07-30 07:17] sa-cloud commented on #1925
skydive-agent
Image:
cognetive/skydive:latest
Environment variables:
SKYDIVE_ANALYZERS: sa-collect-ibm-skydive-dev-service:8082
SKYDIVE_FLOW_PROTOCOL: websocket
SKYDIVE_FLOW_DEFAULT_LAYER_KEY_MODE: L3
SKYDIVE_AGENT_TOPOLOTY_PROBS: ovsdb docker runc
SKYDIVE_AGENT_TOPOLOGY_RUNC_RUN_PATH: /var/run/runc /var/run/runc-ctrs /var/run/containerd/runc
SKYDIVE_LOGGING_LEVEL: INFO
SKYDIVE_ANALYZER_STARTUP_CA

[2019-07-30 07:17] sa-cloud commented on #1925
skydive-analyzer
Image:
cognetive/skydive:latest
Environment variables:
SKYDIVE_UI: {"theme":"light","k8s_enabled":"true","topology": {"favorites":{"infrastructure":"G.V().Has(\"Manager\",NE(\"k8s\"))","kubernetes":"G.V().Has(\"Manager\",\"k8s\")"},"default_filter":"infrastructure"}}
SKYDIVE_ANALYZER_TOPOLOGY_PROBES: k8s
SKYDIVE_EMBEDDED: true
SKYDIVE_FLOW_PROTOCOL: websocket
SKYDIVE_LOGGING_LEVEL

[2019-07-30 08:29] safchain commented on #1925
@sa-cloud thanks for providing logs, I'll have a look

[2019-07-30 12:31] safchain commented on #1925
@sa-cloud The errors are not critical. It basically because you have a capture definition that matches even nodes that are not interface. We are about the submit a fix in order to remove these errors messages.

[2019-07-30 13:24] safchain commented on #1925
Addressed by #1938

[2019-08-02 09:49] safchain commented on #1930
easyjson files should be easy to generate with go generate. For protobuf files it seems less obvious we need to investigate a bit on this...

[2019-08-03 20:40] hunchback commented on #1925
@sa-cloud / @dubek - please confirm that #1938 fixes the reported issue

[2019-08-03 20:43] hunchback commented on #1895
@developeer - please check a workaround of deploying to kube-system namespace - if that works we will then try a more grained fix (using rbac):

[code]

[2019-08-03 20:46] hunchback commented on #1889
@RobertJBarron - does the above provide a reasonable solution? if so then please close issue

[2019-08-03 20:47] hunchback commented on #1888
will reopen once relevant

[2019-08-03 20:47] #1888 closed

[2019-08-03 20:48] hunchback commented on #1848
@nplanel / @safchain - can you look into this? this may be on the critical path soon

[2019-08-03 21:07] hunchback commented on #1821
@safchain - where does the limit of 10 raw packets come from? at least at the command line level it appears to be configurable:

https://github.com/skydive-project/skydive/blob/cf84cc809785aed1bde85b2dcdff36c8b1f8b177/cmd/client/capture.go#L205

[2019-08-03 21:45] safchain commented on #1821
From here :
https://github.com/skydive-project/skydive/blob/cf84cc809785aed1bde85b2dcdff36c8b1f8b177/validator/validator.go#L221

There is  a limitation mainly to the memory used by the agent. That is because of the current implementation. These PR is a step forward to remove the limit
https://github.com/skydive-project/skydive/pull/1893

[2019-08-03 22:09] safchain commented on #1848
@hunchback I just submitted a fix for that
https://github.com/skydive-project/skydive/pull/1946

If it seems correct for you feel free to merge it

[2019-08-03 22:56] RobertJBarron commented on #1889
Not really. I'm asking for an API that will return an image in realtime, not export the data that then needs to be massaged/visualized by a 3rd party/offline.

[2019-08-05 09:46] #1355 closed

[2019-08-05 14:40] hunchback opened #1947 "build: docker-ebpf-build fails when overide docker hub"
A successful build:

[code]

An unsuccessful build when overriding docker hub:

[code]

[2019-08-05 14:57] safchain commented on #1947
Addressed : https://github.com/skydive-project/skydive/pull/1948

[2019-08-05 15:23] developeer commented on #1895
I ran into the same problem when I deployed with the command above.  In order to get the agents to run, I had to change the clusterrole to cluster-admin instead of "view" and remove the readiness and liveness checks on the deployment and daemonset.  It seems the "view" cluster role does not have enough permissions.  Also it seems weird to disable the readiness and liveness probes.

[2019-08-08 07:09] tupm20154207 commented on #1867
I'm also testing lldp probe in my skydive cluster (with 3 nodes all-in-one and 3 agents). The probe starts normally without any error logs:
[code]
But in the dashboard, I don't see any changes in topology, even though the TOR switch is still periodically sending LLDP packets to the `bond1` interface. Any advice?

I'm using skydive v0.22.0 with kolla-ansible deployment, the agent configuration file

[2019-08-09 02:24] tupm20154207 commented on #1867
I just found out my problem was my switches send LLDP packets with the destination MAC address is `01:23:00:00:00:01`, which is OpenFlow Discovery Protocol multicast address, whereas Skydive only accepts LLDP packets with standard destination MAC addresses (as stated [here](https://en.wikipedia.org/wiki/Link_Layer_Discovery_Protocol)).

[2019-08-11 09:19] idan-anner opened #1953 "make-docker-image build error"
Im trying to compile a skydive docker image and am getting the following error
![image](https://user-images.githubusercontent.com/53993257/62832099-33812880-bc32-11e9-8fde-ad052a228123.png)

[2019-08-11 09:27] safchain commented on #1953
Hi, it looks like a network issue... `failure resolving....`. What is the command line used ?
BTW our last automatic build can be found here:
https://cloud.docker.com/u/skydive/repository/docker/skydive/skydive
and is generated with this script :
https://github.com/skydive-project/skydive/blob/master/scripts/ci/create-docker-image.sh

[2019-08-11 09:28] idan-anner commented on #1953
sudo scripts/ci/create-docker-image.sh

[2019-08-11 09:34] hunchback commented on #1953
@idan-anner - why are you using `sudo` ?

[2019-08-11 09:37] idan-anner commented on #1953
On my previous VM docker required sudo, this one doesnt, so sudo isnt necessary I suppose. Same result with or without it

[2019-08-11 09:38] hunchback commented on #1953
I ran on your machine - on docker I am getting the failure:

[code]

While when I attempt to ping from your host - it works:

[code]

[2019-08-11 09:41] hunchback commented on #1953
@idan-anner - this may be related - https://forums.docker.com/t/cant-access-internet-after-installing-docker-in-a-fresh-ubuntu-18-04-machine/53416 - please check that your docker enables you to create a container and ping the internet from it (`ping 8.8.8.8` and `ping www.kernel.org` should work).

Address this first *before* attempting to build the skydive docker image

[2019-08-11 09:43] nplanel commented on #1953
@hunchback @idan-anner your docker network is not setup properly or some host iptables rules drop the container's packets

[2019-08-11 09:49] hunchback commented on #1953
yup - I see:

[code]

[2019-08-11 09:50] hunchback commented on #1953
@idan-anner - please handle

[2019-08-11 10:40] idan-anner commented on #1953
The docker issue is fixed as far as I can tell, but am now getting the following error:
![image](https://user-images.githubusercontent.com/53993257/62832855-a2b04a00-bc3d-11e9-986d-aff73c883aeb.png)

[2019-08-11 10:52] #1947 closed

[2019-08-11 10:55] safchain commented on #1953
Weird you build is using an ppa repo that we removed few weeks ago..
https://github.com/skydive-project/skydive/commit/bf59cb88b053be5039d11f394d7e0846fac30ae5#diff-17cf6e2f8ffdc014050de54a72876254

Can you check that you have a up-to-date skydive master branch and that you don't have ppa repo somewhere is the Dockerfile

[2019-08-11 12:28] hunchback commented on #1953
you can use cherry-pick if you want to continue using an older skydive base version:

[code]

[2019-08-13 12:08] hunchback commented on #1953
AFAIK issue has been resolved

[2019-08-13 12:08] #1953 closed

[2019-08-13 12:10] hunchback commented on #1925
closing: will @sa-cloud please re-open if needed

[2019-08-13 12:10] #1925 closed

[2019-08-13 12:38] hunchback commented on #1895
@developeer - I have created a PR will fix for cluster-admin - https://github.com/skydive-project/skydive/pull/1954

Regarding liveness/readiness - can you please provide details on failure

[2019-08-20 13:42] eranra opened #1959 "Build failure"
Hi @masco and @nplanel

@masco the pull request from @nplanel and specifically the change to vendoring.json is breaking our build process look on: https://github.com/skydive-project/skydive/pull/1928/files#diff-bd290170e2912d3e8694db1a151066e5R2248

We are getting ```/home/daily_build/community/go/bin/govendor sync
\ # cd /home/daily_build/community/go/.cache/govendor/github.com/newtools/ebpf; git

[2019-08-20 17:48] masco commented on #1959
https://github.com/skydive-project/skydive/pull/1960

[2019-08-22 08:35] fadycopty opened #1961 "flow not captured"
I am working on setting up a deployment test for a "fake ip" communication.

I set up an interface on my host eth0 (chose 3.3.3.3 as the "fake-malicous-ip" for testing purpose):
`sudo ifconfig eth0:1 3.3.3.3 netmask 255.255.255.255 up`

Then setup a python server listening to local ( same as 9.148.244.87), and run
`
curl --interface 3.3.3.3 127.0.0.1:8000
curl --interface 3.3.3.3 9.148.244.87:8000

[2019-08-22 11:00] hunchback commented on #1961
@fadycopty - can you share output of `tcpdump -lnX -e -i any host 3.3.3.3`

[2019-08-22 11:20] safchain commented on #1961
@fadycopty Hi, few questions

- how did you deploy Skydive
- how did you start the capture

Thanks

[2019-08-22 11:58] fadycopty commented on #1961
deployed skydive agent:
`sudo docker run --privileged --pid=host --net=host -p 8081:8081   -e SKYDIVE_ANALYZERS=localhost:8082   -v /var/run/docker.sock:/var/run/docker.sock skydive/skydive agent`
deployed analyzer:
`sudo docker run -p 8082:8082 skydive/skydive analyzer`

on skydive UI, found the eth0 and started capture

[2019-08-22 12:06] fadycopty commented on #1961
tcp dump:
`~$ sudo tcpdump -lnX -e -i any host 3.3.3.3
tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on any, link-type LINUX_SLL (Linux cooked), capture size 262144 bytes
15:01:29.875315  In 00:00:00:00:00:00 ethertype IPv4 (0x0800), length 76: 3.3.3.3.38659 > 127.0.0.1.8000: Flags [S], seq 1231561789, win 43690, options [mss 65495,sackOK,TS val 2334777013 ec

[2019-08-22 14:03] hunchback commented on #1961
@fadycopty - can you provide a screenshot of your capture definition / topology view?

[2019-08-22 14:09] hunchback commented on #1961
@fadycopty - also I notice that the mac address is 00:00:00:00:00:00 - I am don't understand why we are not getting a real mac address here

[2019-08-22 21:01] safchain commented on #1961
@fadycopty if the curl if made from the localhost I guess the packet will never be reported by the kernel you can confirm this by capturing with tcpdump only the interface with 3.3.3.3 and not with `-i any` which captures the loopback interface.

[2019-08-23 09:37] tupm20154207 opened #1962 "LLDP probe doesn't add switches to the graph until a tcpdump command is explicitly executed on the interface"
Hi, I'm currently testing skydive on a virtual test environment. I've noticed that unlike when tested on a physical network, if a lldp probe is listening on a specified interface on a libvirt guest, it seems not to be able to automatically detect lldp packets sent to that interface and display on the graph. But when I run a tcpdump command on that interface, just to make sure that those packets ha

[2019-08-23 19:14] fadycopty commented on #1961
I have tested it with
`sudo tcpdump -lnX -e host 3.3.3.3`
and tcpdump did not capture the trafic

[2019-08-23 19:14] #1961 closed

[2019-08-23 22:00] safchain commented on #1962
Hi, I suspect an issue with the destination MAC address. Skydive adds multicast address to the interface in order to get LLDP packets. I think the issue disappear with tcpdump because of the promiscuous mode. Can you confirm that the issue disappear if you set this mode to your interface.

[code]

Can you check if you see in the agent log the follow error message

[code]

Thanks

[2019-08-25 10:55] hunchback commented on #1959
fixed ... closing

[2019-08-25 10:55] #1959 closed

[2019-08-25 11:03] hunchback commented on #1848
@liranschour - fix has been merged - closing

[2019-08-25 11:03] #1848 closed

[2019-08-26 02:53] tupm20154207 commented on #1962
Thanks for answering,

Adding promiscuous mode to the interface does solve my problem, and I don't have any error messages about attaching multicast addresses. This is strange because if the multicast addresses are added to the interface, the probe should be able to capture LLDP packets without having to go to promiscuous mode. Does the virtual environment have anything to do with this?

I've run

[2019-08-26 03:53] tupm20154207 commented on #1962
Thanks for answering @safchain,

Adding promiscuous mode to the interface does solve my problem, and I don't have any error messages about attaching multicast addresses. This is strange because if the multicast addresses are added to the interface, the probe should be able to capture LLDP packets without having to go to promiscuous mode. Does the virtual environment have anything to do with this?

[2019-08-27 13:08] hunchback commented on #1811
The Operator can be added in 3 phases:
- helm operator (based on https://github.com/skydive-project/skydive/pull/1963)
- ansible operator
- go operator

[2019-08-28 13:27] hunchback opened #1965 "release 0.25.0"
We need an official release which includes the `contrib/exporters/uber` binary and configuration files.

Target date is 15.9.2019.

[2019-09-02 07:03] chirauki commented on #1895
I just raised  #1969

Binding the agent to 0.0.0.0 did the trick.

[2019-09-02 07:19] hunchback commented on #1895
merged #1969 ... you can close issue

[2019-09-02 11:25] sa-cloud commented on #1925
In 2019.09.02___08.41 I still see the errors:

2019-09-02T11:22:35.015Z	INFO	analyzer/analyzer.go:42 glob..func1	kube-wdc04-crac1766060dcf4354816f6b171eae7a7b-w1.cloud.ibm: Skydive Analyzer _2019-09-02T05:45:19 starting...
2019-09-02 11:22:35.016268 I | embed: listening for peers on http://127.0.0.1:12380
2019-09-02 11:22:35.016527 I | embed: listening for client requests on 127.0.0.1:12379
2019-0

[2019-09-02 12:47] sa-cloud opened #1972 "413 error in security advisor exporter log"
I use helm to install the skydive latest version on an k8s cluster v1.13 with the configuration below:

image:
repository: cognetive/skydive
tag: 2019.09.02___08.41

connector image:
registry.ng.bluemix.net/secadvisor_dev/skydive-secadvisor:12

env:
    - name: SKYDIVE_LOGGING_LEVEL
      value: "INFO"

    # Maximum number of flows per object
    - name: SKYDIVE_PIPELINE_STORE_S3_MAX_FLOWS_PER_OB

[2019-09-03 14:24] bechavod opened #1973 "LLDP cant identify error message"
Hi Guys,
any idea how to fix this error:
skydive-agent_1     | 2019-09-03T14:23:17.632Z  INFO    lldp/lldp.go:379 (*Probe).handleNode    own-127-241: Starting LLDP capture on veth2a5296b (MAC: 00:00:00:00:05:00)
skydive-agent_1     | 2019-09-03T14:23:17.632Z  ERROR   lldp/lldp.go:381 (*Probe).handleNode    own-127-241: Failed to add multicast address: invalid argument

[2019-09-03 15:01] bechavod commented on #1962
@safchain
Hi any idea how to fix : "Failed to add multicast address"

[2019-09-04 10:35] hunchback commented on #1965
not relevant anymore as I intent pushing binaries to skydive-binaries repo

[2019-09-04 10:35] #1965 closed

[2019-09-04 10:38] hunchback commented on #1972
@sa-cloud / @dubek - you reported to issues - regarding the 413 - please explain how was this log observed? also please copy to here the exact sequence of log messages

[2019-09-05 06:15] dubek commented on #1972
The HTTP 413 (Payload too large) error from Minio is due to a Kubernetes Ingress in front of that Minio instance that limits uploads to 1 MB.

However, this revealed a bug in the exporters (specifically in the store-to-S3 mechanism) that doesn't recover well from object store errors, and keeps growing in memory (until evicted by Kubernetes due to high memory usage). Supposedly there are mechanisms

[2019-09-05 08:54] dubek opened #1976 "Errors in agent's Runc topology probe on Openshift"
We're running Skydive on Openshift 3.11 on IKS.

Here's the Skydive agent log:

[code]

Note the `no such file or directory` errors which don't mention which file is missing; that's tricky to debug.

[2019-09-05 12:37] safchain commented on #1897
Fixed now

[2019-09-05 12:37] #1897 closed

[2019-09-05 12:38] safchain commented on #1821
@hunchback can we close this now ?

[2019-09-05 12:39] #1592 closed

[2019-09-06 01:54] tupm20154207 commented on #1973
LLDP probe uses `net.ParseMAC` method to get interface MAC address, and your device doesn't have a valid MAC address as stated [here](https://golang.org/pkg/net/#ParseMAC)

[2019-09-06 03:52] tupm20154207 opened #1981 "Build failure"
I'm having trouble with building latest version of Skydive:
[code]

[2019-09-06 05:16] bechavod commented on #1973
Thanks your answer,
I fix the issues the multicast and I got on the I interface lldp ips and mac but I can see on the topology dynamic

[2019-09-06 07:27] #1981 closed

[2019-09-10 06:08] hunchback commented on #767
will be reopened in future if relevant

[2019-09-10 06:08] #767 closed

[2019-09-10 06:09] hunchback commented on #1244
will be addressed by new UI

[2019-09-10 06:09] #1244 closed

[2019-09-10 06:10] hunchback commented on #856
closing

[2019-09-10 06:10] #856 closed

[2019-09-10 06:10] #1821 closed

[2019-09-13 21:34] pirate opened #2000 "How do manually add nodes/autodiscover nodes on my LAN and add them to the topology view?"
This is definitely a n00b question, but I've been quite confused while trying to follow the skydive tutorials so I figured I'd ask here in case the response can be used to improve the documentation.

I'm trying to use skydive to visualize the connections between a few servers I have in my LAN at home (and eventually a handful of remote servers and remote NATs).

I've installed skydive and have the

[2019-09-15 05:54] sempervictus opened #2001 "Feature request/bounty offer - add SNMP"
This project is great as an agent-based on-node collector, but it doesn't pull SNMP, nor catch traps which would permit mapping (and updating by way of traps) of not only SNMP target topology, but acquisition of its LLDP and CDP neighbor information and interface loads. Not exactly as precise as flows, but a ton better than blank spots.
It looks like a go-snmp implementation is a couple of days of

[2019-09-15 20:56] hunchback opened #2002 "build: gendecoder stales"
running `make` stales on:

[code]

[2019-09-16 08:20] lebauce commented on #2002
what do you mean by `stales` ?

[2019-09-16 16:18] safchain commented on #2000
Many possibilities :

1 - using the config file : https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L84-L107

2 - using the CLI : http://skydive.network/blog/topology-rules.html

3 - using ansible : http://skydive.network/blog/ansible-library.html

4 - Python client lib : http://skydive.network/documentation/api-python

[2019-09-17 03:07] pirate commented on #2000
Ahh I had no idea that Skydive was expected to run on *every* node in the network.  I thought based on the guides http://skydive.network/tutorials/first-steps-3.html that it was supposed to autodiscover nodes based on traffic captures from a single node, with the option to add more nodes later to collect topology info from remote network segments.

[2019-09-17 06:50] safchain commented on #2000
Skydive discovers interfaces, containers, bridges, etc using mostly kernel API not using traffic in order to reduce as much as possible the impact of the monitoring. On top of the topology you can decide to capture packets in order to do traffic analysis. That said it is possible based on the traffic to build a topology, please have a look at :
http://skydive.network/blog/flow-matrix.html

[2019-09-18 12:59] safchain commented on #1058
Closing these views have been deprecated

[2019-09-18 12:59] #1058 closed

[2019-09-19 08:57] #2002 closed

[2019-09-19 12:48] Sparika commented on #706
The described bug also happens on Ubuntu WSL connecting to the windows docker desktop.

[2019-09-24 18:17] alericks21 commented on #1811
I finally found time to convert the HELM charts to a HELM based operator. I created a directory called operator under the contrib folder. I will create a PR shortly. One question. Do you want me to build a docker image and push it to dockerhub to live with the other skydive images out there?

[2019-09-24 18:24] alericks21 commented on #1811
Based on priority I will not have time to get the operator into operatorhub.io. There are instructions here if someone wants to pick up that task

https://operatorhub.io/contribute

Also there is good information here that the team has harvested when learning about operators

https://playbook.cloudpaklab.ibm.com/operator-certification/

[2019-09-25 05:05] hunchback commented on #1811
i would be happy to see current PR and based on that discuss changes ..

[2019-09-27 13:11] bwesemann commented on #1655
could you please give me an status update?

[2019-09-27 14:06] lebauce opened #2033 "Check that BPF filter is supported by the capture type"
If the user creates a capture with a capture type along with a BPF filter, we should return an error saying that this capture type does not support BPF filters

[2019-09-30 18:15] alericks21 commented on #1811
I tried to push to the repo but I get the following error:

remote: Permission to skydive-project/skydive.git denied to alericks21.

If you could give the id permission I can push or I could zip up the project and email it to you.

Thoughts?

[2019-10-01 17:42] alericks21 commented on #1811
Pushed

remote: Resolving deltas: 100% (3/3), completed with 2 local objects.
remote:
remote: Create a pull request for 'skydiveoperator' on GitHub by visiting:
remote:      https://github.com/alericks21/skydive/pull/new/skydiveoperator
remote:
To https://github.com/alericks21/skydive.git
 * [new branch]        skydiveoperator -> skydiveoperator
Branch 'skydiveoperator' set up to track remote bran

[2019-10-03 17:03] lebauce opened #2043 "skydive-selinux-tests should run the automation framework"
Currently, skydive-selinux-tests run the agent through the ./functionals executable. Therefore, the agent SElinux policy is not tested : access to libvirt socket, docker socket, etc....

run-selinux-tests should run scripts/tests.sh instead

[2019-10-04 08:06] Sparika opened #2044 "Conflicting web socket hostname: bad handshake"
**My situation is as follows:**
I have a Kubernetes cluster running on a baremetal host. I'm deploying skydive using the example service in the documentation. However, I would like to also collect the topology from the baremetal host by deploying a Skydive agent on it. The k8s agent is running runc and docker probes, but it appears to have no visibility on the baremetal resources.

**Observed issu

[2019-10-04 08:39] safchain commented on #2044
Hi,

Do you mean that you deployed Skydive using this ?
https://github.com/skydive-project/skydive/tree/master/contrib/kubernetes

Skydive agent are started using a daemonset so you should see baremetal entities + containers/namespaces, etc...

Agents are identified by there host_id and as to be unique per agent
https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L4

do

[2019-10-04 09:36] Sparika commented on #2044
Thanks for the quick response. For the moment, I only have one baremetal machine, but its hostname is both used by the agent running on it and the one launched by the kubernetes daemonset.

Indeed, I missed the host ID parameter in the configuration file. And then I had one additional probe (ovsdb) running in the baremetal agent which let me think it had more visibility on the host.

So my issue i

[2019-10-04 09:36] #2044 closed

[2019-10-04 09:52] safchain commented on #2044
Thanks, just a side note :) we are working a new version of the WebUI so in a short term we will provide a better topology view.

[2019-10-07 11:39] idohu opened #2053 "Repeating error in skydive agent"
Hi,

I have a SkyDive (IBM Version) running on my K8s cluster and  I'm seeing a constant stream of these errors:
[code]

Has anyone seen this or knows how to fix this issue?

[2019-10-07 11:46] eranra commented on #2053
@hunchback

[2019-10-07 11:50] eranra commented on #2053
@idohu can you dump the capture list:

(execute: `skydive client --analyzer 127.0.0.1:8082 capture list`)

[2019-10-07 12:06] idohu commented on #2053
@eranra @hunchback
[code]
hope this is it

[2019-10-07 13:14] safchain commented on #2053
@idohu There reason of this error is that the gremlin expression matches an interface that can not be captured. You can ignore this error in you case. I'll see what can be done to avoid error message is that case.

[2019-10-07 13:36] eranra commented on #2053
@idohu to add to Sylvain's point ... can add to the NotEqual in the capture GremlinQuery also tun devices so the capture will not try to capture from them. Need to use RegEx for that.

[2019-10-15 07:42] tu-pm opened #2069 "System get flooded with openvswitch mount points after restarting skydive agent container"
I'm reporting a bug.

**Version**: 0.22
**Deployment environment**: Skydive cluster running inside Docker containers as part of kolla-ansible deployment
**Description**: The total number of mount points to `/run/openvswitch` grows exponentially each time the `skydive-agent` container restarts

[code]

[2019-10-15 08:10] safchain commented on #2069
Hi,

It seems to be more related to kolla images than Skydive itself. I would suggest to open a bug here: https://launchpad.net/kolla.

Thanks

[2019-10-15 08:33] tu-pm commented on #2069
Yeah, silly me, closing.

[2019-10-15 08:33] #2069 closed

[2019-10-17 13:49] safchain commented on #1291
Now fixed

[2019-10-17 13:49] #1291 closed

[2019-10-17 13:52] safchain opened #2074 "Add mac learning for pkt injection"
It can be useful and more or less required for ping mesh so that for the very beginning of the life of a container or a VM we can get RTT.

[2019-10-17 18:15] jonnary commented on #1291
great

[2019-10-18 07:27] lebauce commented on #1655
@bwesemann I'm sorry for taking so long. Unfortunately, Red Hat decided to stop investing in Skydive so I can't give you any roadmap, sorry.

[2019-10-21 06:36] patsevanton opened #2078 "Docker-ce-cli conflicts with 2:docker-1.13 on CentOS 7"
After install kubernetes i install Skydive

[code]

[2019-10-21 08:17] safchain commented on #2078
Hi, It seems you used Ansible, can you try to comment these lines ?
https://github.com/skydive-project/skydive/blob/master/contrib/ansible/roles/skydive_common/tasks/container.yml#L16-L26

BTW there is another way to deploy on top of kubernetes:
https://github.com/skydive-project/skydive/tree/master/contrib/kubernetes
or
https://github.com/skydive-project/skydive/tree/master/contrib/helm

[2019-10-21 09:24] patsevanton commented on #2078
Yes. in clone repo. Try comment again.

[2019-10-25 09:27] k0ste opened #2082 "0.25.0: topology/metrics.go: to many errors"
Try to build release 0.25.0. May be this lack of some go lib?

[code]

[2019-10-25 09:35] safchain commented on #2082
Hi, in the 0.25.0 version some of the files were generated. These files seem to be missing per the log. Can you provide/check the beginning of the make output ?

[2019-10-25 12:53] k0ste commented on #2082
@safchain, my current receipt is:

[code]

As I can see main issue is that Makefile is redefine `$GOPATH`. May be other?

[code]

[2019-10-25 17:31] safchain commented on #2082
As far as I know Go or the vendor thing doesn't like symlinks. I would suggest to try without it

[2019-10-26 06:43] k0ste commented on #2082
@safchain, thanks. I'm build couple of Go projects and don't have errors like this. May be this `vendor`...
As you suggested, I replace symlinking to just copy source

@safchain, thanks. I'm packaged couple of go projects and don't have errors like this. May be this `vendor`... As you suggested, I was replaced symlinking to `copy`.

[code]

Build almost complete, but stuck on another Go stuff, any

[2019-10-26 11:00] safchain commented on #2082
for the symlink, go tools follows symlink instead of using them resulting in using wrong package name. For the link issue, I don't know where these flags come from, any remaining LDFLAGS environment variable or something ?

[2019-10-26 14:32] k0ste commented on #2082
It's comes from `makepkg`. `!buildflags` fixed this, thanks.

[2019-10-28 09:53] k0ste commented on #2082
[aur/skydive](https://aur.archlinux.org/packages/skydive/)

[2019-10-28 09:53] #2082 closed

[2019-10-29 07:47] qinze118 opened #2084 "how to recevie lldp package without promiscuous mode"
I tried to add multicast address to the interface but I can't received packets from interface.

[2019-10-30 06:49] qinze118 opened #2087 "addmulticast bug"
when I used lldp probe capture the packets but It doesn't  work. I tried change your code then It works fine! the version of my system is centos(7 or 6.4).
Old code:
	var sockaddr syscall.RawSockaddr
	// RawSockaddr.Data is []int8 on amd64 and []uint8 on ppc64le
	switch data := interface{}(sockaddr.Data).(type) {
	case [14]int8:
		for i, n := range mac {
			data[i] = int8(n)
		}
	case [14]uint8:

[2019-10-30 07:13] patsevanton opened #2088 "What is package skydive in fedora copr repository?"
Hello. i install fedora copr repository for skydive.
yum -y install yum-plugin-copr
yum copr enable skydive/skydive
yum search skydive

[code]

Thanks!

[2019-10-30 07:37] patsevanton commented on #2088
``
Installing:
 skydive-agent               x86_64  0.25.0-1.el7     copr:copr.fedorainfracloud.org:skydive:skydive 6.7 k
Installing for dependencies:
 avahi-libs                  x86_64  0.6.31-19.el7    base                                            61 k
 container-selinux           noarch  2:2.107-3.el7    extras                                          39 k
 cyrus-sasl                  x86_64

[2019-10-30 07:37] #2088 closed

[2019-11-01 10:25] TommyHwang opened #2095 "Pcap capture button isn't visible"
Hi.

I installed skydive using kubernetes yaml.

![pcap](https://user-images.githubusercontent.com/20712117/68018313-2bd69a80-fcdc-11e9-8a96-2b80fb9f3249.png)

When I clicked my flow, I found that RawPacketsCaptured is 0 and there is no download button.

![image](https://user-images.githubusercontent.com/20712117/68018565-c8993800-fcdc-11e9-9641-b72662122bba.png)

Is there any condition for pcap c

[2019-11-01 10:32] masco commented on #2095
Hi, You need to mention how many numbers of raw packets you want to capture while creating/starting the capture.
by default, it is zero so you won't get any raw packets unless you specify it explicitly.
you can find the number of raw packets options in 'advance options' sections while creating capture.

[2019-11-01 11:12] TommyHwang commented on #2095
Thank you. But I can't find number option in Advanced Option menu.

Is there any version issue about it?

![image](https://user-images.githubusercontent.com/20712117/68021082-d1d9d300-fce3-11e9-886e-2d404c9fecd7.png)

[2019-11-01 12:44] masco commented on #2095
can you set the permission for rawpackets in the rbac policy and try
https://github.com/skydive-project/skydive/blob/master/rbac/policy.csv

[2019-11-01 12:47] safchain commented on #2087
hi @qinze118 do you plan to submit a PR ?

[2019-11-01 12:53] safchain commented on #2095
@masco I don't think this is the main problem, the if statement in the vuejs component doesn't seem to be correct.

https://github.com/skydive-project/skydive/blob/master/statics/js/components/capture-form.js#L89

About to submit a fix

[2019-11-01 13:19] safchain commented on #2095
here the PR:
https://github.com/skydive-project/skydive/pull/2097

[2019-11-04 01:34] qinze118 commented on #2087
h1 @safchain I submitted

[2019-11-04 08:22] TommyHwang commented on #2095
Hi. Thank you for your help and I have a question.

I'm using image named skydive/skydive:master in Docker hub.
I entered in skydive-analyzer container in skydive-analyzer pod using exec command,
But I couldn't find any js file or configuration file.

How can I fix it?

[2019-11-04 11:02] safchain commented on #2095
The config should be here `/etc/skydive.yml`
https://github.com/skydive-project/skydive/blob/master/contrib/docker/Dockerfile#L8

Otherwise you can override config variable through environment variable lilke

`SKYDIVE_ANALYZER_LISTEN=0.0.0.0:8082` for this line
https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L49

meaning prefixing with `SKYDIVE_`, adding `_` per sub

[2019-11-04 22:20] safchain opened #2100 "NSM probe doesn't fit the edge schema, RelationType attribute is missing"
https://github.com/skydive-project/skydive/blob/master/statics/schemas/edge.schema#L33

We can import topology with NSM edges because the NSM probe doesn't provide the required `RelationType` field for edges.

[2019-11-04 22:21] safchain commented on #183
Closing, new WebUI will handle this
https://github.com/skydive-project/skydive-ui

[2019-11-04 22:21] #183 closed

[2019-11-04 22:21] safchain commented on #233
Closing, new WebUI will handle this
https://github.com/skydive-project/skydive-ui

[2019-11-04 22:21] #233 closed

[2019-11-04 22:22] safchain commented on #236
Closing, new WebUI will handle this
https://github.com/skydive-project/skydive-ui

[2019-11-04 22:22] #236 closed

[2019-11-04 22:23] safchain commented on #1730
Closing, new WebUI will handle this
https://github.com/skydive-project/skydive-ui

[2019-11-04 22:23] #1730 closed

[2019-11-04 22:23] safchain commented on #1452
Closing, new WebUI will handle this
https://github.com/skydive-project/skydive-ui

[2019-11-04 22:23] #1452 closed

[2019-11-04 22:24] safchain commented on #1430
Closing, new WebUI will handle this
https://github.com/skydive-project/skydive-ui

[2019-11-04 22:24] #1430 closed

[2019-11-04 22:25] safchain commented on #615
Closing, new WebUI will handle this
https://github.com/skydive-project/skydive-ui
Feel free to open feature request

[2019-11-04 22:25] #615 closed

[2019-11-04 22:25] safchain commented on #1071
Closing, new WebUI will handle this
https://github.com/skydive-project/skydive-ui

[2019-11-04 22:25] #1071 closed

[2019-11-04 22:25] safchain commented on #546
Closing, new WebUI will handle this
https://github.com/skydive-project/skydive-ui

[2019-11-04 22:25] #546 closed

[2019-11-04 22:26] safchain commented on #617
Closing, new WebUI will handle this
https://github.com/skydive-project/skydive-ui
Feel free to create feature requests there

[2019-11-04 22:26] #617 closed

[2019-11-04 22:27] safchain commented on #1544
Closing, new WebUI will handle this
https://github.com/skydive-project/skydive-ui
Feel free to create feature request there

[2019-11-04 22:27] #1544 closed

[2019-11-04 22:28] safchain commented on #1349
Closing, new WebUI will handle this
https://github.com/skydive-project/skydive-ui

[2019-11-04 22:28] #1349 closed

[2019-11-04 22:28] safchain commented on #1431
Closing, new WebUI will handle this
https://github.com/skydive-project/skydive-ui

[2019-11-04 22:28] #1431 closed

[2019-11-05 09:16] theonlydoo commented on #1452
thanks!

[2019-11-05 13:54] hunchback opened #2102 "skydive-flow-exporter: can't use new skydive"
Getting the following:

[code]

[2019-11-06 10:05] safchain commented on #2102
go.mod replace section needs to be properly defined, which is not an funny thing :) especially with k8s. I suggest to use the same hacky thing that I used for collectd.
https://github.com/skydive-project/skydive-collectd-plugin/blob/master/Makefile#L5

It takes the replace section of skydive to apply it to the local go.mod file so that all the version are aligned

[2019-11-07 05:09] patsevanton opened #2105 "May be support el6 for rpm?"
[code]

[2019-11-08 12:16] TommyHwang commented on #2095
Thank you for your help, I got full advanced option menu. As you replied, the permission might have caused the hide of menu.

[2019-11-11 00:39] #2095 closed

[2019-11-11 11:19] TommyHwang opened #2110 "Skydive on Kubernetes with calico"
Hi!

I'm using Kubernetes and There are one master and two walker nodes.

And I installed calico as CNI.

When I sent an icmp message between two pods in the cluster using Generate function, I found that the message was not delivered properly.

Later, I changed the mac address on the destination to "ee:ee:ee:ee:ee:ee" manually.
I thought that this would be happened because the calico is L3 switch.

[2019-11-12 14:18] hunchback opened #2113 "k8s: multi-cluster does not show child elements of 2nd cluster"
Using kind I created a two cluster k8s environment:

[code]

I then setup 3 analyzers:
- main
- cluster1 (k8s.config_file=/home/vagrant/.kube/kind-config-cluster1)
- cluster2 (k8s.config_file=/home/vagrant/.kube/kind-config-cluster2)

I got the following:

![image](https://user-images.githubusercontent.com/2760739/68679159-02cdc980-0568-11ea-8be7-bde98a295d52.png)

[2019-11-12 14:32] hunchback commented on #2113
me bad (I had wrongly configured cluster1 one to only show k8s.cluster resources) ... working:

![image](https://user-images.githubusercontent.com/2760739/68680248-06fae680-056a-11ea-9e83-7d6cd430daaa.png)

[2019-11-12 14:32] #2113 closed

[2019-11-15 01:13] jibanli opened #2115 "How to change port 8082 in 'http://localhost:8082' to others?"
When opening a browser to http://localhost:8082 to access the analyzer Web UI,  I find that port 8081 and 8082 are occupied using the command 'netstat -tulpn' in the terminal.

I want to know how to change the port 8081 and 8081 to other ports like 6xxx or 7xxx?

[2019-11-15 09:16] TommyHwang commented on #2115
I think you can change your port through change your skydive.yml.
Please see below links:
https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L179
https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L182

[2019-11-15 09:17] TommyHwang commented on #2115
I think you can change your port through change your skydive.yml.
Please see below links:
https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L179
https://github.com/skydive-project/skydive/blob/master/etc/skydive.yml.default#L182

[2019-11-18 12:44] lebauce commented on #2105
@patsevanton The main problem for this is the availability of Golang >= 1.11 for CentOS. It was already pretty difficult to have it for CentOS 7 so I'm not sure this is feasible for CentOS 6 :-/

[2019-11-19 03:19] patsevanton commented on #2105
Thank you. Close

[2019-11-19 03:19] #2105 closed

[2019-11-20 08:53] mnasiadka opened #2116 "Packages in centos-opstools repo are old"
Hello,

I noticed that skydive packages in centos-opstools repo have not been updated in a while (the latest version there is 0.22).
Can you please publish new rpms there?

[2019-11-25 13:27] Sparika opened #2118 "Python Client fails to push dumped data"
**Summary:**
I'm trying to add a dumped topology to another analyzer using the python client, as described here http://skydive.network/documentation/api-python#dump--inject where the dumped analyzer is another analyzer with actual data.

**Steps to reproduce:**
[code]
[code]

**Expected result:**
The dumped topology should appear within the localhost analyzer, similarly to the use of the `skydive

[2019-12-02 12:50] sa-cloud opened #2119 "Adding support for presets"
@safchain, @lebauce, @eranra, @dubek, @hunchback, @KalmanMeth,

We would like to suggest + contribute an enhancement to the SkyDive planned Helm and Operator.
 
SkyDive includes several modules (Core, UI, Exporter…) and many configuration parameters, each with its respective config options. SkyDive can be used as a network analyzer, as a network collector and in other use cases. The current Helm a

[2019-12-03 09:42] hunchback commented on #2119
@sa-cloud - can you provide some examples for **presents** being used in official (which exists in the respective public hubs) helm and operator implementation?

[2019-12-03 10:11] amitbaer opened #2120 "Unable to use external ElasticSearch service"
I am trying to use a dockerized external ElasticSearch as the flow/topology backend.
For this to work, i needed to disable sniffing, which is used by default in the _olivere/elastic_ ES client. When sniffing is enabled i am getting an error "No ElasticSearch Node Available". This is explained in the following issue in the client repo : https://github.com/olivere/elastic/issues/312.

To disable sni

[2019-12-03 10:22] safchain commented on #2115
Closing this one as @TommyHwang  gave the right answer, thanks

[2019-12-03 10:22] #2115 closed

[2019-12-04 13:31] hrw opened #2121 "Native aarch64, ppc64le, s390x support?"
Travis CI supports aarch64, ppc64le, s390x now so maybe it is time to switch and generate binaries for all archs?

Would probably require bumping protoc version to something newer with binaries for all those architectues (3.11.1 has them).

[2019-12-04 13:37] safchain commented on #2121
This is not directly binary but docker image for these arch are generated :
https://hub.docker.com/r/skydive/skydive/tags

It is generated by this script by the CI :
https://github.com/skydive-project/skydive-ci/blob/master/scripts/create-docker-image.sh

[2019-12-04 13:39] hrw commented on #2121
In OpenStack Kolla we use that binary for own images :D
Anyway if some user will want to run it on non-x86 then they will have an option.

Thanks.

[2019-12-04 13:39] #2121 closed

[2019-12-05 08:56] sa-cloud commented on #2119
@hunchback, the official examples are  Prometheus and Spark. Each of those operators (and many others) suggest several deployment options (defined each by it's own separate crd).
Spark suggests the options: 1. Sparc Cluster 2. Spark Application 3. Spark History Server
Prometheus has: 1. Prometheus 2. Prometheus Rule 3. Service Monitor 4. Alert Manager

We called these different options “presets” a

[2019-12-05 09:11] safchain commented on #2119
@sa-cloud sounds like a good approach to me, please note that the helm thing has been moved to a dedicated repo:
https://github.com/skydive-project/skydive-helm

same for the operator, even if there is nothing currently:
https://github.com/skydive-project/skydive-operator

[2019-12-10 09:31] marshalWS opened #2123 "Does Packets captured by ebpf.go through the protocol stack?"
Does Packets captured by ebpf.go through the protocol stack?
That is to say,  packets captured by ebpf.go  before or after  skb?

[2019-12-11 21:57] nplanel commented on #2123
We bind the bpf program to socket_info on raw_socket
So basically we hooked on all packets in/out of the network stack.

If you looking for better performance for monitoring only, you can use/setup Skdyive DPDK probe, binded to your NIC.

More info on ebpf : https://blogs.oracle.com/linux/notes-on-bpf-1

[2019-12-11 22:37] sempervictus opened #2125 "Autorest dependency causes build to fail"
[code]

Looks like [we arent the first to be bitten by this](https://www.gitmemory.com/issue/Azure/go-autorest/449/520897732). Anyone else seeing the problem? I'm on Arch, so golang is `go version go1.13.5 linux/amd64`.
The PCRE failures are odd - i threw pax in softmode and still seeing that, but i doubt its related given what MSFT said in their[ github issue](https://github.com/Azure/go-autorest

[2019-12-11 23:39] safchain commented on #2125
Hi, thanks for reporting this issue. I just submitted a fix:
https://github.com/skydive-project/skydive/pull/2124/commits/c5c30ceb888fa9dd2d6a2825c1fff6f4b872074b

[2019-12-11 23:39] sempervictus commented on #2125
Thank you, adding diff to my PKGBUILD and testing

[2019-12-11 23:45] sempervictus commented on #2125
Confirm that it works.
What's weird is that the PKGBUILD process pulls from master, but this commit was not showing up yet, i had to explicitly add it via `#commit=c5c30ceb888fa9dd2d6a2825c1fff6f4b872074b` notation in the `source` section. Might just be lag on GH side.

[2019-12-12 00:10] safchain commented on #2125
The commit is part of a PR that is not merge yet.

For the /tmp use I think that is a Go thing, I do not see specific thing that we do in the build process. Did you try to set the TMPDIR env variable ?

[2019-12-12 02:09] marshalWS commented on #2123
thanks，i got  it.

[2019-12-12 02:11] marshalWS commented on #2123
thanks，i get it.

[2019-12-12 07:45] sa-cloud commented on #2119
@safchain, @lebauce, @hunchback,

https://github.com/skydive-project/skydive-operator/pull/1
https://github.com/skydive-project/skydive-helm/pull/1

In helm: exporter section was added under values.yaml, --set exporter.enabled=true activates the "exporter pre-set" making the SkyDive analyzer start with an additional exporter container. In this case the user also must specify the S3 endpoint and th

[2019-12-12 10:43] safchain commented on #2125
The fix has been merged. part of master now.

[2019-12-13 09:43] Founderbn2014 opened #2127 "Can Skydive monitor switch or router with snmp?"

[2019-12-17 21:36] safchain commented on #2127
There is no snmp probe for the moment

duplicates: #205
duplicates: #2001

[2019-12-17 22:20] safchain commented on #2118
Addressed by : #2128

[2019-12-17 22:21] safchain commented on #2123
Closing it for now, feel free to re-open if needed

[2019-12-17 22:21] #2123 closed

[2019-12-17 22:24] safchain commented on #2087
Fixed: https://github.com/skydive-project/skydive/commit/d9d804ddf0b67c99e1f3b3b4e987655b8f6f94cd

[2019-12-17 22:24] #2087 closed

[2019-12-17 22:26] safchain commented on #2000
Closing for now, feel free to re-open if needed

[2019-12-17 22:26] #2000 closed

[2019-12-17 22:28] safchain commented on #1972
Closing it as flow exporter has been moved to a dedicated repo, feel free to open a new issue there if still relevant

[2019-12-17 22:28] #1972 closed

[2019-12-19 14:32] redno2 opened #2130 "Deploy skydive on k8s but got only one worker monitored and show the calico policy ID instead the pod name"
I've deployed skydive to the 1.16 k8s and make some change #2129 to work with, but on the dashboard I see only one worker against two, something i missed up on the config ?

Another one, is the name showing is the calico policy ID, not the pod, which is dificulte to used.

Do you have an idea ?

Thank you

[2019-12-26 20:48] #2125 closed

[2020-01-03 02:49] TommyHwang opened #2131 "RawPacketsCaptured Download button is not worked"
Hi.

I'm using Skydive in on-premise environment.

And I just found that RawPacketsCaptured Download button is not worked.

![image](https://user-images.githubusercontent.com/20712117/71704499-1f76d700-2e1e-11ea-8eba-ede1108994ad.png)

![image](https://user-images.githubusercontent.com/20712117/71704516-31587a00-2e1e-11ea-91ac-8deae02c3f69.png)

I tried to write "self.$downloadRawPackets(flow.UUID

[2020-01-08 12:52] #2116 closed

[2020-01-10 21:44] rjmccabe3701 opened #2132 "Vagrant-based examples not working"
I am running through the [Multi-node and tunneling](http://skydive.network/tutorials/first-steps-5.html) example.

I get this error in both MacOS Catalina and Ubuntu 18.04:

[code]

If i make this change:

[code]

It seems to get further, but it complains about the domain name ``http://keystone-server.net/`` not being resolvable.

I know next to nothing about vagrant, openstack or their configurat

[2020-01-12 21:53] safchain commented on #2132
I submitted a fix here: https://github.com/skydive-project/skydive/pull/2133

[2020-01-15 08:11] tyguik opened #2136 "EBPF TCP flags start times always 0"
I wanted to get the tcp flags times when using Ebpf but it is always return 0 and after some digging I discovered that in ebpf/common.h there is a function that suppose to init the flags times but the line
`__u64 tm = flow->last;` in the function inits tm with 0 every time.
As a work around I change the func to init tm with 1 and then I can get an indication that the flag was raised because that a

[2020-01-22 16:25] Sparika commented on #2120
Hi @amitbaer , I hit the same issue as you experienced.
The solution you mention effectively solves the sniffing issue but there is then a parsing error with the version number.

[code]

The issue is that when Skydive gets the version [at L191](https://github.com/skydive-project/skydive/blob/227c560ebf3e7bd62a80b02669f52bb83b0195a5/storage/elasticsearch/client.go#L191), it uses the originaly provi

[2020-01-24 13:34] lebauce commented on #2120
@amitbaer @Sparika Could you please give this a try : https://github.com/skydive-project/skydive/pull/2138 ? Thanks !

[2020-01-28 10:00] Sparika commented on #2120
Hi @lebauce,

As I'm using Helm to deploy Skydive, I was not able to use the fix in my exact scenario, however I replaced my helm deployment by the built binary. The fix solves the reported issue as I'm able to connect to the distant elasticsearch.

However, I'm hitting another issue! When the binary connects to the ES and pushes some data it kind of corrupts the ES indices as queries to the Skydi

[2020-01-28 10:45] Sparika commented on #2120
Well, apparently I got it working by deleting the ES client pods. After I reported on the issue, they went into crashloops for another reasons, so I deleted both ES pods and once the new ones were up, the data were pushed without any problem by both Skydive analyzers to the ElasticSearch.

Just a few additional remarks:
The ES client library you use specifically parse the URL for several parameter

[2020-01-28 12:53] liatush1988 opened #2141 "Skydive Crashes when using ebpf mode after a while"
Hi,
When running Skydive with ebpf mode, Skydive crashes after a while due to nil pointer reference.
This is the log:
skydive[50717]:panic: runtime error: invalid memory address or nil pointer dereference
skydive[50717]:[signal SIGSEGV: segmentation violation code=0x1 (...)
skydive[50717]: skydive/src/github.com/skydive-project/skydive/flow.isABPacket
skydive/src/github.com/skydive-project/skydive

[2020-01-28 20:38] lebauce commented on #2120
@Sparika Thanks for testing. I agree, we should use the URL parsed by the ES library. We should be able to release a next version pretty soon, probably at the end of next week

[2020-01-29 09:19] safchain commented on #2141
Thanks for reporting this, I'm going to have a look

[2020-01-29 09:20] safchain commented on #2132
I'm closing it as we merged fixes for this, feel free to re-open it if needed

[2020-01-29 09:20] #2132 closed

[2020-01-29 09:21] safchain commented on #2118
Closing it as it has been addressed, feel free to re-open if needed

[2020-01-29 09:21] #2118 closed

[2020-02-06 01:46] tu-pm opened #2146 "LLDP probe has undesired behavior with Cisco Nexus switches"
As stated [here](https://github.com/skydive-project/skydive/blob/master/topology/probes/lldp/lldp.go#L251), Cisco Nexus switches send different chassis IDs through different ports in LLDP messages. This causes metadata on the switch node to be constantly changing every time an LLDP message arrives in an interface. This is an undesired behavior, because naturally IDs shouldn't change, and also any

[2020-02-06 11:07] tu-pm opened #2147 "libvirtgo: ctx.Logger is not initialized causing panic"
[Here](https://github.com/skydive-project/skydive/blob/225c23e94d83367fc202ba21590da1dd1e941261/topology/probes/libvirt/libvirtgo.go#L72) the `m.ctx.Logger` is not yet initialized (because the [initializer]() actually never does), causing panic when writing error log to the logger.

Error log:

[code]

[2020-02-06 11:13] lebauce commented on #2147
@tu-pm Thanks for reporting this. As a workaround before the issue is fixed, you can compile with WITH_LIBVIRT_GO=true to use the pure Go version of the libvirt probe

[2020-02-06 11:19] lebauce commented on #2147
Could you please give the https://github.com/skydive-project/skydive/pull/2148 PR a try ? Thanks !

[2020-02-09 00:11] safchain commented on #2136
I submitted a fix, can you give it a try
#2151

[2020-02-09 00:12] safchain commented on #2141
I submitted a fix, can you give it a try
#2136

[2020-02-13 13:36] tyguik commented on #2136
Still doesn't work :(

[2020-02-13 15:19] safchain commented on #2136
would you be able to send a PR ? or can you point me the exact line ?

[2020-02-13 15:55] tyguik commented on #2136
I tried to upload a new branch but I don't have permissions.
I just move line 242 to be above line 230 in ebpf/flow.c

[2020-02-16 10:24] safchain commented on #2136
could you try this one :
https://github.com/skydive-project/skydive/pull/2153

[2020-02-17 10:54] lebauce opened #2155 "Extract Graffiti into its own repository"
- [ ] Remove use of common.JSONDecode
- [x] Remove use of common.RWMutex and use directly the 'insanelock' library
- [ ] Extract common/proc.go, common/profile.go and common/rawsocket.go into their own package
- [ ] Move common/tls.go into 'graffiti'
- [ ] Move NormalizeValue into Graffiti metadata.go
- [ ] Move GremlinQueryHelper to tests

[2020-02-17 16:19] lebauce opened #2156 "Generate Flow getter methods with gendecoder"
Right now, GetFieldString, GetFieldInt64, .... for flow.Flow are written manually. These should be genereted using gendecoder

[2020-02-17 23:55] safchain commented on #2147
Closing as the PR has been merged, feel free to re-open if needed

[2020-02-17 23:55] #2147 closed

[2020-02-27 11:47] infernix commented on #1292
How hard is it to implement this? Would be really good to have insight in how well all the nodes can (or cannot) communicate. Even pings between all nodes and and acting on packet loss through
visualization would be great.

So any thoughts here? Or even progress?

[2020-03-03 17:23] LoicLeGal opened #2169 "Analyzer's k8s probe doesn't support Kubernetes >= 1.16"
### Summary
Detected on tag **v0.26.0**
As mentioned in https://github.com/skydive-project/skydive-helm/issues/2 Kubernetes >= 1.16 is not supported for Skydive templates. Furthermore, the Analyzer K8s probe uses deprecated REST path specifically the daemonset v1beta1 https://github.com/skydive-project/skydive/blob/427085d0922eb6e0a93b32dad46b3453c7e40103/topology/probes/k8s/statefulset.go#L26
Thi

[2020-03-17 13:02] raffaelespazzoli opened #2185 "does skydive support crio as a container runtime"
I'm trying to evaluate the possibility of using skydive with OCP 4.x and one thing that seems to be missing is the ability to have crio as the container runtime.

[2020-03-17 14:18] safchain commented on #2185
It is supposed to work, please see this old thread:
https://github.com/skydive-project/skydive/issues/1391

I didn't check this for a while, but I think it is still valid as we do have users using crio

[2020-03-17 17:31] raffaelespazzoli commented on #2185
@safchain following some of the suggestions in that issue, I was able to enable the runc information gathering, but I don't see the crio-level or pod level aggregation. Not sure if that is a feature I should expect to see...

[2020-03-17 22:07] safchain commented on #2185
I guess this should be reported by the k8s probe. did you activate it ?

[2020-03-18 14:31] raffaelespazzoli commented on #2185
I disabled the docker probe, which is on the OCP template
I enabled the k8s probe with all the subprobes (namespace cluster service pod node).
I am not 100% sure what to expect, but it doesn't seem that pods are matched with containers. Also nodes don't have a relationship with the cluster.
Is there a way for me to get some assistance on this? I'd be willing to invest some time in making this work

[2020-03-18 15:36] safchain commented on #2185
Can you share a screenshot of what you get ? It could help to understand. is there a way to reproduce the environment you are using ?

Reading the code you should have a link between the pod and the containers.

The best way to discuss about this is on Slack. There are some folks here that have written the k8s probes.
https://github.com/skydive-project/skydive#get-involved

[2020-03-18 16:20] raffaelespazzoli commented on #2185
here is the initial image:
![image](https://user-images.githubusercontent.com/6179036/76982344-2340d280-6912-11ea-8779-8ea3d746be9a.png)

we can see the VMs comprising the cluster and the cluster itself. The VMs are not considered nodes.

Here is what I see when I explode one of the nodes:
![image](https://user-images.githubusercontent.com/6179036/76982484-597e5200-6912-11ea-90e9-d70df27a1993.png)

[2020-03-18 16:55] safchain commented on #2185
One thing to note is that there is no link between the "physical" environment meaning VMs and the logical representation meaning "kubernetes". AFAIK the only link between them is between the pods and the containers.

That said I think I found why there is no link in the context of crio/runc :
https://github.com/skydive-project/skydive/blob/3d8fc8a3e08eabd4e1d7444773089d6ff4fb5c6e/topology/probes/k

[2020-03-18 19:03] raffaelespazzoli commented on #2185
@safchain skydive could assume that when a physical host has the same ip as a OCP node, then it is a OCP node. RFE?

Also will someone fix the mapping between pods an container when running runc?

I'll give the new UI a try....

[2020-03-19 09:53] safchain commented on #2185
@raffaelespazzoli yes that could be an approach, we need to agree on the best way to achieve this.
I'll try to have a look to produce a fix for the mapping between pod and container.

[2020-03-22 23:16] safchain commented on #2141
Closing it, please re-open if needed

[2020-03-22 23:16] #2141 closed

[2020-03-22 23:16] safchain commented on #2136
Closing it, please re-open if needed

[2020-03-22 23:16] #2136 closed

[2020-03-23 18:59] ivanayov opened #2188 "Show Prometheus metrics for pods"
In NSM we store traffic metrics in Prometheus - RX/TX bytes, packets and error packets. We have those for every pod-to-pod connection. We would like to show those in addition to the interface metrics.
Or implement a Prometheus probe instead and build the network topology from the data stored in Prometheus. The latter doesn't look very native to the project to me but is still an option.

Any feedba

[2020-03-25 04:22] grooverdan opened #2190 "provide non-x86 ebpf-builder"
I got an error building skydive as the skydive/ebpf-builder image is x86_64 only.

I worked around this with:
<pre>
ebpf/Makefile
@@ -35,7 +36,7 @@ build-ebpf-docker-image:
 pull-ebpf-docker-image:
        docker pull $(DOCKER_EBPF_BUILDER_IMAGE):latest

-docker-ebpf-build: pull-ebpf-docker-image
+docker-ebpf-build: build-ebpf-docker-image
        docker run --rm \
                --env=UID=$(UID)

[2020-03-25 04:27] grooverdan opened #2191 "ibmz/ s390x hardware available for CI/testing"
FYI,

I came across IBM's Z offering VMs.

Invite to use is at the bottom of this blog:

https://community.ibm.com/community/user/ibmz-and-linuxone/blogs/elizabeth-k-joseph1/2020/02/14/linuxone-open-source-software-report-january-2020?CommunityKey=87042487-940e-49cc-ae6d-5a5b76c5ea7e&Tab=

[2020-03-25 07:53] maxbaldin opened #2192 "Breakdown by process [question]"
Hi!
For now, Skydive knows nothing about the processes. Is there any plans to add a possibility to track network flow on this level too?
Does Skydive architecture allow it?

[2020-03-25 12:35] hdbsystems opened #2193 "Collect LLDP using SNMP to make network topology"
Anyone working on this probe?

[2020-03-25 12:42] hdbsystems commented on #205
Anyone started work with this?

[2020-03-25 16:44] lebauce commented on #2191
@grooverdan Thanks for pointing out. Request sent

[2020-03-26 15:45] whl739 opened #2195 "skydive panic: runtime error: index out of range"
I used the latested version of binary, and it crashed when i start an agent. My config is :
[code]

And the output is:
[code]

On the other server, agent works fine, configuration is same. The differences are nic interfaces and network env.
The normal side is:
[code]

The crashed side is:
[code]
Compared with the nomal side, it is not bonding, eth0 is offline, and eth1 has a xdp program.

[2020-03-26 23:10] safchain commented on #2188
Hello, I think both are valid approaches. For the second approach we can build a "logical NSM" topology add nodes and egdes with dedicated types so that we can filter them properly in the UI and with the API

[2020-03-26 23:10] safchain commented on #2193
I don't think someone in working on this

[2020-03-26 23:13] safchain commented on #2192
There is a way to get socket information. You can use the socketinfo probe for that. Speaking about processes and flow, there is no clear plan but some users already ask about it so I guess the community can work on it. Yes the architecture allow this

[2020-03-27 20:32] lebauce commented on #2195
I just pushed a PR for the library we use to talk to netlink and an other one on Skydive to include the fix : https://github.com/skydive-project/skydive/pull/2196
Could you please give it a try ? Thanks !

[2020-03-29 03:38] whl739 commented on #2195
go build got an error:
[code]

[2020-03-29 04:42] whl739 commented on #2195
I modified `go.mod`, and it could be compiled.
[code]
After test, it works fine.

[2020-03-29 14:35] whl739 commented on #2195
I got another panic:
[code]

It crashed when i use python api, and the meta data didn't contain `Type` and `Name`:
[code]
But when i add `Type` and `Name`, it still crashed. Below is my code:
[code]

[2020-03-29 19:08] whl739 opened #2197 "Couldn't create node with same name?"
I use python api to create topology, and found that it couldn't create node with same name, since the two different switches have same port name.

And another thing is the return value of `client.noderule_create` has no `TID` but a `UUID`, when i query `G.V().Has('TID', 'uuid')`, there's nothing returned.

But the host node which created by agent has same `eth0`, `eth1`, why these can be created?

[2020-03-29 21:50] safchain commented on #2197
I would rather use the websocket API that will allow you to specify an ID instead of using the Name. You can see an example here:
https://github.com/skydive-project/skydive/blob/master/contrib/python/api/samples/inject-nodes1.py

[2020-03-30 06:47] whl739 commented on #2197
What does the `host` mean in [`GraphElement`?](https://github.com/skydive-project/skydive/blob/d81a665ddebd763167fb9780000b7ad7ff059cba/contrib/python/api/skydive/graph.py#L23)

[2020-03-30 12:12] whl739 commented on #2197
I have successfully created the topology by websocket api, but the strange thing is that when i restart the `analyzer`, the topology is missing.

[2020-03-30 23:12] safchain commented on #2197
Sorry that is something I didn't mention but the way the websocket API is working is more or less how the agent communicates with the analyzer, so this is something which is not persistent and the client has to re-inject if the analyzer is stopped. I'll have a look at the issue you have with the node/edge-rules so that you could use it.

[2020-03-31 05:56] whl739 commented on #2197
Thanks for your kind help, i'll close this issue.

[2020-03-31 05:56] #2197 closed

[2020-04-01 10:29] safchain opened #2201 "cccccclvtguhkukverlfliriulkhfgbkvklgkftgdhvh"

[2020-04-01 10:29] safchain opened #2202 "cccccclvtguhbnbgnridkhhklnifjvcfhddehhbveulk"

[2020-04-01 10:33] safchain opened #2203 "cccccclvtguhkgvlkccbvdivfctuehuhhdbncfjjuilt"

[2020-04-01 10:33] #2201 closed

[2020-04-01 10:33] #2202 closed

[2020-04-01 10:33] #2203 closed

[2020-04-01 11:02] safchain opened #2204 "Make graph element persistent by default"
- [ ] Add pod entry in etcd with a kind of TTL in order to trigger a del host graph
- [ ] Remove clean up mechanism in storage on start in order to make graph element persistent by default
- [ ] re-inject non deleted graph element from storage on start using the storage master election
- [ ] add CLI/API mechanism to delete graph element based on a gremlin expression

[2020-04-02 14:33] lebauce commented on #2195
@whl739 I just pushed a PR that tries to fix the last issue you faced : https://github.com/skydive-project/skydive/pull/2200 Could you please give it a try ? Thanks !

[2020-04-02 15:12] whl739 commented on #2195
I tested this PR, it returned `skydive.rest.client.BadRequest: Invalid schema` if i didn't set the right schema.

[2020-04-03 14:19] ivanayov opened #2205 "Unable to create a WebSocket connection"
Hello,

I'm running skydive with NSM, as usual, using the same config and same image, but this time the network topology is not visualized and the agent log has this error message:

[code]

Has anyone encountered such a problem before?

Thanks

[2020-04-07 06:21] #2195 closed

[2020-04-07 07:13] lebauce commented on #2205
@ivanayov It seems that the analyzer the agent is trying to connect to, is not running. What are you using to deploy Skydive ?

[2020-04-07 08:05] ivanayov commented on #2205
@lebauce I'm using the deployment we have in [networkservicemesh/skydive](https://github.com/networkservicemesh/networkservicemesh/tree/master/deployments/helm/skydive) including some fixes from [here](https://github.com/networkservicemesh/networkservicemesh/pull/1905).

The analyzer is running and its logs show no errors. Seems like something happened in the connection between the agent and the a

[2020-04-16 11:24] jtaleric opened #2206 "link to slack invite is broken"
Trying to join the slack channel via https://slack.skydive.network which is in the README.md is failing. Has the link changed?

[2020-04-16 11:59] safchain commented on #2206
Hi, thanks for reporting this, It should be fixed now.

[2020-04-16 13:19] #2206 closed

[2020-04-28 02:48] Kuldip-Nanda commented on #2190
Daniel, thanks for this. We do need SkyDive for power but the ebpf Makefile always pulls x86 docker image leading to the exec format error on P9/Power. Please see below:

$:~/projects/skydive/src/github.com/skydive-project/skydive/ebpf$ uname -a
Linux knpower 4.15.0-29-generic #31-Ubuntu SMP Tue Jul 17 15:37:15 UTC 2018 **ppc64le** ppc64le ppc64le GNU/Linux
kuldip@knpower:~/projects/skydive/src/gi

[2020-05-06 16:00] adrianlzt opened #2209 "Doc for plugins"
In the changelog for the last version it is said that support for plugins has been added.
Looking through the code/commits looks like there is a new config parameter for the agent:
[``pluginsDir := config.GetString("plugin.plugins_dir")``](https://github.com/skydive-project/skydive/blob/6f239d94d79be2d1eff714e9f4799f2923528c8f/plugin/topology.go#L44).

Also use to be a [example code for a probe](h

[2020-05-07 07:39] adrianlzt opened #2210 "GraphQL instead of API REST?"
Maybe could be more interesting to implement a [GraphQL](https://graphql.org/) API to access the data instead of the REST API.

GraphQL adapts better to the graph database schema, it is self-documented and comes with a UI to access the data, something like swagger: [GraphiQL](https://github.com/graphql/graphiql) or [Graph playground](https://github.com/prisma-labs/graphql-playground).

GraphQL als

[2020-05-07 08:58] adrianlzt opened #2212 "Go client for skydive APIs"
I am trying to use the skydive lib as the client to connect to the APIs, as do the python skydive-client.

The ``go get`` command fails to download skydive:
[code]

Once this working. Which client should be used?

[Websocket](https://pkg.go.dev/github.com/skydive-project/skydive@v0.26.0/websocket?tab=doc)?

[API REST](https://pkg.go.dev/github.com/skydive-project/skydive@v0.26.0/api/client?tab=doc

[2020-05-07 09:02] adrianlzt commented on #2212
Is it possible to modify the topology using the REST API?

[2020-05-11 20:49] adrianlzt opened #2213 "api: panic if create noderule without name"
This call:
[code]
crashes the app

[code]

The create call assume that ``Type`` and ``Name`` keys will be available and [uses them](https://github.com/skydive-project/skydive/blob/6cd2cd18eca325ab6963bd0ca5d737e393710970/topology/enhancers/topology_manager.go#L132) without verification:
[code]

[2020-05-14 16:25] lebauce commented on #2212
It's now possible thanks to this PR : https://github.com/skydive-project/skydive/pull/2139

You should be able to use PUT on /api/node and /api/edge